body.blog,
body.category {
	.page-item {
		&.top-banner {
			overflow: visible;
			h1 {
				position: relative;
				width: 100%;
				left: 0;
				top: 0;
				bottom: auto;
				right: auto;
				text-align: center;
				margin-bottom: 0;
			}
			.text {
				min-height: 0;
			}
		}
		&.news {
			background: transparent;
			&:after {
				display: none;
			}
		}
	}
}