body.home {
    &:not(.menu-open) {
        #toggle-menu {
            .content {
                background: $color-1;
                &:before, &:after {
                    background: $color-1;
                }
            }
        }
    }
    #header-container {
        padding-top: 32px;
        pointer-events: none;
        header#masthead {
            pointer-events: auto;
        }
    }
    &.menu-open {
        #header-container {
            padding-top: 0;
        }
    }
    &:not(.menu-open) {
        #main-menu {
            ul.menu {
                > li {
                    &.menu-item-has-children {
                        &:after {
                            background: #fff;
                        }
                    }
                    > a {
                        color: #fff;
                    }
                    &.classic_parent {
                        ul.sub-menu {
                            top: auto;
                            bottom: 0;
                        }
                    }
                }
                ul.sub-menu {}
            }
        }
        #secondary-menu {
            color: #fff;
            svg {
                path {
                    fill: #fff;
                }
            }
            a {
                color: #fff;
            }
            ul {
                padding: 0;
                margin: 0;
            }
            > ul {
                > li {
                    &.langs {
                        &:after {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}