body.single-post {
    .page-item {
        &.top-banner {
            margin-top: $header-height;
            min-height: calc(100vh - #{$header-height});
            &:after {
                content: "";
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                pointer-events: none;
                background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.66) 58%, rgba(255, 255, 255, 0.9) 100%);
                opacity: 0.75;
            }
            .bg {
                width: 50%;
                height: 100%;
                &:first-of-type:last-of-type {
                    width: 100%;
                }
                &:nth-of-type(2) {
                    left: auto;
                    right: 0;
                }
            }
        }
        &.list {
            &.no-gutenberg {
                position: absolute;
                z-index: 2;
                left: 0;
                bottom: 88px;
                width: 100%;
                padding: 0;
                .list-container {
                    .item {
                        padding-bottom: 0;
                    }
                }
                .label {
                    ul {
                        background: transparent;
                        padding: 0;
                    }
                    a {
                        color: #000000;
                        font-size: 1.2rem;
                        font-weight: 400;
                        letter-spacing: 0.171rem;
                        line-height: 3.2rem;
                        text-transform: uppercase;
                    }
                }
                .container {
                    max-width: 541px;
                }
                img {
                    height: 298px;
                    object-fit: cover;
                    width: 100%;
                }
                h1 {
                    margin: 9px 0 0 0;
                    color: #000000;
                    font-family: $secondary-font;
                    font-size: 3.2rem;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: 0.08rem;
                    line-height: 4rem;
                    text-align: center;
                }
            }
        }
        &.news {
            background: transparent;
            &:after {
                display: none;
            }
            .block-title {
                display: flex;
                width: 100%;
                max-width: $main-container;
                margin: 0 auto;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 24px;
                h2 {
                    color: #000000;
                    font-family: $secondary-font;
                    font-size: 5.6rem;
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    line-height: 7.2rem;
                }
            }
        }
    }
}