body {
	// body : override css plugin
	#cookie-law-info-bar {
		text-align: center !important;
	}
	#cookie-notice {
		background-color: $color-1 !important;
		padding: 15px;
		&.cookie-notice-hidden {
			display: none;
		}
		.cookie-notice-container {
			max-width: $main-container;
			margin: 0 auto;
			padding: 0;
			text-align: left;
		}
		.button.bootstrap {
			background: $color-1;
			color: #ffffff;
			font-size: $font-size;
			letter-spacing: -0.1px;
			line-height: 2.4rem;
			border: 0;
			box-shadow: none;
			&:hover {
				background: $color-1;
			}
		}
		#cn-notice-buttons,
		#cn-notice-text {
			display: inline-block;
		}
		#cn-notice-text {
			margin-right: 47px;
			color: #ffffff;
			font-size: 1.2rem;
			letter-spacing: -0.01rem;
			text-align: left;
		}
		@media screen and (max-width: 1200px) {
			#cn-notice-text {
				width: 100%;
				margin-right: 0;
			}
			.cookie-notice-container {
				text-align: center;
			}
		}
	}
	#cookie-law-info-bar {
		text-align: center;
		span {
			display: inline-block;
			width: 100%;
			max-width: $main-container;
		}
		#cookie_action_close_header,
		#cookie_action_close_header_reject {
			background: $color-1 !important;
			color: #fff !important;
			border: 1px solid $color-1 !important;
			transition: all 0.3s ease;
			&:hover {
				background: #fff !important;
				color: $color-1 !important;
			}
		}
		.cli_settings_button {
			color: $color-text !important;
			font-weight: bold;
			&:hover {
				color: $color-1 !important;
			}
		}
	}
}