.builder {
    padding-bottom: 4rem;
}
.page-item {
    position: relative;
    overflow: hidden; // Cut overflow on animate translate (appear)
    div:not(.title) {
        > a:not(.btn) {
            color: #C89B6C;
            text-decoration: underline;
        }
    }
    p, li {
        a:not(.btn) {
            color: #C89B6C;
            text-decoration: underline;
        }
    }
    .container {
        margin: 0 auto;
        max-width: $main-container;
        width: 100%;
    }
    .style-uppercase {
        letter-spacing: 0.26rem;
    }
    /* 
		* Specials
		*/
    @import 'special/filters';
    @import 'special/paginate';
    @import 'special/share';
    @import 'special/title';
    /*
		* Blocks
		*/
    @import 'alternate-blocks';
    @import 'cta';
    @import 'form';
    @import 'founder';
    @import 'featured-content';
    @import 'map';
    @import 'drawers';
    @import 'gallery';
    @import 'image';
    @import 'list';
    @import 'news';
    @import 'numbers';
    @import 'pages';
    @import 'partners-selection';
    @import 'partners-list';
    @import 'products-slider';
    @import 'products-selection';
    @import 'products-alternate';
    @import 'products-categories';
    @import 'slider-home';
    @import 'reassurance';
    @import 'text';
    @import 'video';
    @import 'team';
    @import 'testimonial';
    @import 'testimonials';
    @import 'top-banner';
}