&.alternate-blocks {
	padding: 88px 20px 0 20px;
	& + .page-item.reassurance {
		margin-top: 84px;
	}
	article {
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		&:not(:first-child) {
			margin-top: 44px;
		}
		@media screen and (min-width: $bp-md) {
			&.portrait {
				//padding-left: calc((#{$main-container - $main-container-2}) / 2);
				//padding-right: calc((#{$main-container - $main-container-2}) / 2);
			}
		}
	}
	.text {
		width: calc(50% - 15px);
		order: 2;
		padding: 82px 0 82px 125px;
		position: relative;
		> *:first-child {
			margin-top: 0;
		}
		img.floated {
			position: absolute;
			left: 0;
			top: 0;
			max-width: 100px;
			max-height: 100px;
			display: block;
			pointer-events: none;
			z-index: 1;
		}
	}
	.images {
		width: calc(50% - 15px);
		order: 1;
		&.multiple {
			height: 445px;
			position: relative;
			width: 540px;
			.image {
				display: none;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					display: block;
					position: absolute;
					border-radius: 4px;
				}
				&:nth-child(1) {
					width: 255px;
					height: 255px;
					left: 0;
					top: 0;
				}
				&:nth-child(2) {
					width: 255px;
					height: 255px;
					top: 50%;
					right: 0;
					transform: translate3d(0, -50%, 0);
				}
				&:nth-child(3) {
					display: block;
					left: calc(50% - 15px);
					bottom: 0;
					transform: translate3d(-100%, 0, 0);
					width: 160px;
					height: 160px;
				}
			}
		}
	}
	.image {
		position: relative;
		overflow: hidden;
		border-radius: 4px;
		a,
		img {
			display: block;
			margin: 0 auto;
		}
		a {
			position: relative;
		}
		&:after {
			display: none;
		}
		img {
			&:nth-of-type(2) {
				display: block;
				position: relative;
				visibility: hidden;
				width: 100%;
				height: auto;
				transform: none;
				left: 0;
				top: 0;
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
	@media screen and (min-width: $bp-md) {
		.order {
			&.normal {
				article {
					&:nth-child(2n + 1) {
						.images {
							order: 2;
						}
						.text {
							order: 1;
							padding-left: 0;
							padding-right: 105px;
							img.floated {
								right: 0;
								left: auto;
							}
						}
					}
				}
			}
			&.reverse {
				article {
					&:nth-child(2n) {
						.images {
							order: 2;
						}
						.text {
							order: 1;
							padding-left: 0;
							padding-right: 105px;
							img.floated {
								right: 0;
								left: auto;
							}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: $bp-md) {
		article {
			flex-wrap: wrap;
			&:not(:first-child) {
				margin-top: 44px;
			}
		}
		.images,
		.text {
			width: 100%;
		}
		.images {
			&.multiple {
				display: flex;
				width: 100%;
				height: auto;
				min-height: 0;
				.image {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						position: relative;
						width: 100%;
						height: calc((100vw - 40px) / 3);
						transform: none;
						top: 0;
						bottom: auto;
						left: 0;
						right: auto;
						border-radius: 0;
					}
				}
			}
			&:not(.multiple) {
				.image {
					height: 300px;
					width: 100%;
					&:after {
						display: none;
					}
				}
			}
		}
		.text {
			justify-content: flex-start;
			padding: 20px 0 0 0;
			img.floated {
				display: none;
			}
		}
	}
}