&.cta {
	padding: 88px 20px;
	& + .page-item.alternate-blocks {
		padding-top: 0;
	}
	.bg-container {
		position: relative;
		padding: 0;
		overflow: hidden;
	}
	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		object-position: center;
	}
	.container {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: stretch;
	}
	.img,
	.content {
		width: 50%;
	}
	.img {
		padding: 0 20px;
		position: relative;
		img {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
		}
	}
	.content {
		text-align: center;
		position: relative;
		padding: 40px 20px;
		p {
			color: #b1b1b1;
		}
	}
	.content-container {
		position: relative;
		z-index: 1;
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	@media screen and (max-width: 650px) {
		padding: 20px;
		.bg-container {
			padding: 20px;
		}
		.img {
			display: none;
		}
		.content {
			width: 100%;
			text-align: center;
		}
	}
}