&.drawers {
	padding: 4.4rem 2.4rem;
	.container {
		display: flex;
		align-items: flex-start;
	}
	.items {
		max-width: 696px;
		width: 100%;
	}
	.block-title {
		max-width: calc(100% - 696px);
		width: 100%;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}
	.item {
		border-bottom: 1px solid #dedede;
		padding-left: 3.2rem;
		&.open {
			.minus {
				opacity: 1
			}
			.plus {
				opacity: 0;
			}
		}
	}
	.head {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: flex-start;
		padding: 1.6rem 0;
		cursor: pointer;
	}
	h3 {
		margin: 0;
		color: #000000;
		font-family: $secondary-font;
		font-size: 2.1rem;
		font-weight: 400;
		line-height: 3.2rem;
	}
	.toggle {
		margin: 0 3.2rem;
		font-weight: bold;
		height: 32px;
		position: relative;
		width: 32px;
		display: block;
	}
	.minus,
	.plus {
		display: inline-block;
		transition: opacity $eOutQuad 0.4s 0s;
		height: 32px;
		width: 32px;
		border-radius: 32px;
		position: absolute;
		left: 0;
		top: 0;
		svg {
			path {
				fill: #b1b1b1;
			}
		}
	}
	.minus {
		opacity: 0;
	}
	.plus {
		opacity: 1;
		vertical-align: middle;
		display: block
	}
	svg {
		width: 24px;
		height: 24px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
	.content {
		padding: 0 0 1.6rem 0;
		color: #b1b1b1;
		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.1rem;
		line-height: 2.4rem;
		p {
			color: #b1b1b1;
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
			line-height: 2.4rem;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@media screen and (max-width:970px) {
		.container {
			flex-wrap: wrap;
		}
		.items {
			max-width: 100%;
		}
		.block-title {
			max-width: 100%;
		}
	}
	@media screen and (max-width: 550px) {
		.item {
			padding-left: 0;
		}
		.content {
			padding-right: 0;
		}
	}
}