&.featured-content {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../images/texture-featured-content.jpg') no-repeat center;
	background-color: #faf5ef;
	padding: 100px 110px;
	.text {
		max-width: 384px;
		width: 100%;
	}
	.img {
		max-width: 384px;
		width: 100%;
		margin: 0 64px;
		clip-path: ellipse(45% 50% at 50% 50%);
		img {
			height: auto;
			display: block;
			width: 100%;
		}
	}
	.values {
		max-width: 280px;
		width: 100%;
		.value {
			display: flex;
			align-items: center;
			margin-bottom: 29px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.icon {
			width: 72px;
			text-align: center;
			img {
				max-width: 72px;
				max-height: 72px;
			}
		}
		.label {
			padding-left: 54px;
			span {
				display: block;
				color: #b1b1b1;
				font-style: italic;
				font-size: 1.2rem;
				line-height: 2.4rem;
			}
		}
	}
	@media screen and (max-width: 1150px) {
		flex-wrap: wrap;
		.text {
			width: calc(100% - 200px);
		}
		.img {
			width: 200px;
			max-width: 100%;
		}
		.values {
			width: 100%;
			margin-top: 32px;
			max-width: 100%;
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			.value {
				width: 50%;
			}
		}
	}
	@media screen and (max-width: 955px) {
		padding: 40px;
	}
	@media screen and (max-width:810px) {
		.img {
			display: none;
		}
		.text {
			max-width: 100%;
			width: 100%;
		}
		.values {
			.value {
				margin-bottom: 16px;
			}
		}
	}
	@media screen and (max-width:710px) {
		.values {
			.value {
				margin-bottom: 8px;
				width: 100%;
				text-align: left;
			}
		}
	}
}