&.form {
    padding: 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        &.only_form {
            max-width: 800px;
            > .right {
                width: 100%;
                padding: 0;
            }
            .form {
                width: 100%;
            }
        }
        &:not(.only_form) {
            .form {
                .fields-container {
                    &.items-2, &.items-3 {
                        .field {
                            width: 100%;
                            margin-right: 0;
                            margin-left: 0;
                            &:not(:last-child) {
                                margin-bottom: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        > .map-container,
        > .right {
            width: 50%;
        }
        > .map-container {
            position: relative;
            .map {
                height: 100%;
            }
            p {
                margin: 0;
            }
        }
        > .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 120px;
        }
    }
    .contacts-block,
    .form {
        width: 383px;
        max-width: 100%;
    }
    .contacts-block {
        max-width: 100%;
        color: #b1b1b1;
        border-radius: 4px;
        padding: 0 0 2.4rem 0;
        a {
            color: #b1b1b1;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
        .contact {
            margin-bottom: 2.5rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .info {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 2.6rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            .icon {
                display: none;
            }
            .right {
                width: calc(100% - 39px);
            }
            .text {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: $line-height;
                span {
                    display: block;
                }
            }
            .title {
                color: #000000;
                font-family: $secondary-font;
                font-size: 2rem;
                font-weight: 400;
                line-height: 3.2rem;
                display: block;
                width: 100%;
            }
        }
    }
    .form {
        max-width: 100%;
        > h2 {
            margin: 0 0 16px 0;
        }
        .field {
            position: relative;
            input,
            textarea {
                &:focus,
                &:not(:placeholder-shown) {
                    padding-top: 24px;
                    padding-bottom: 8px;
                    &::placeholder {
                        color: transparent;
                    }
                    + .placeholder {
                        left: 16px;
                        opacity: 1;
                    }
                }
                &:placeholder-shown {
                    font-weight: bold;
                    font-style: italic;
                    &::placeholder {
                        color: #000;
                    }
                }
            }
            .placeholder {
                position: absolute;
                text-align: left;
                left: 32px;
                top: 8px;
                text-transform: none;
                opacity: 0;
                transition: all 0.3s ease;
                color: #b1b1b1;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.6rem;
            }
        }
        .fields-container.submit {
            .field {
                width: 100%;
                .btn {
                    width: 100%;
                    max-width: 383px;
                }
            }
        }
    }
    @media screen and (max-width: $bp-md) {
        .container {
            > .map-container {
                width: 100%;
                height: 400px;
                order: 2;
            }
            > .right {
                width: 100%;
                order: 1;
                margin-bottom: 32px;
                padding: 0 20px;
            }
        }
        .contacts-block {
            width: 100%;
            margin-top: 3.2rem;
            max-width: 350px;
        }
        .form {
            width: 100%;
            padding-right: 0;
        }
    }
}