&.founder {
	padding: 8.4rem 2.4rem;
	position: relative;
	overflow: hidden;
	& + .page-item.cta {
		padding-top: 0;
	}
	.container {
		display: flex;
		align-items: flex-start;
	}
	.left {
		width: 384px;
		max-width: 100%;
		position: relative;
		&:after {
			content: ""
			;
			display: block;
			left: 50%;
			bottom: 0;
			transform: translate3d(-50%, 0, 0);
			background: url('../images/founder-bg.jpg') no-repeat center;
			width: 165%;
			height: 108%;
			position: absolute;
			z-index: 1;
		}
		img {
			display: block;
			position: relative;
			z-index: 2;
			&:nth-of-type(2) {
				display: none;
			}
		}
	}
	.right {
		width: calc(100% - 384px);
		max-width: 100%;
		padding: 65px 0 0 136px;
		> *:first-child {
			margin-top: 0;
		}
	}
	.text {
		color: #000000;
		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.1rem;
		line-height: 2.4rem;
	}
	.author {
		color: #000000;
		font-family: $secondary-font;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 3.2rem;
		margin-top: 26px;
	}
	blockquote {
		color: #c5ab90;
		font-size: 1.7rem;
		font-weight: 500;
		font-style: italic;
		letter-spacing: 0.113rem;
		line-height: 2.4rem;
		text-align: left;
		padding: 0 0 0 16px;
		border-left: 2px solid #c5ab90;
		margin: 24px 0 0 0;
		&:before,
		&:after {
			display: inline-block;
		}
		&:before {
			content: open-quote;
			margin-right: 0.3em;
		}
		&:after {
			content: close-quote;
			margin-left: 0.3em;
		}
	}
	@media screen and (max-width: 980px) {
		.container {
			flex-wrap: wrap
		}
		.left {
			width: 100%;
			img {
				max-height: 300px;
				display: block;
				width: 100%;
				object-fit: cover;
				object-position: center;
				&:last-of-type {
					display: block;
				}
				&:first-of-type:not(:last-of-type) {
					display: none;
				}
			}
		}
		.right {
			width: 100%;
			padding-left: 0;
			padding-top: 20px;
		}
	}
}