&.gallery {
	padding: 80px 20px 40px 20px;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.image {
		position: relative;
		overflow: hidden;
		display: none;
		border-radius: 4px;
		width: 100%;
	}
	.left,
	.right {
		width: calc(50% - 15px);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	.left {
		.image {
			&:nth-child(1),
			&:nth-child(2) {
				display: block;
				width: calc(50% - 15px);
				margin-bottom: 30px;
			}
			&:nth-child(3) {
				display: block;
			}
		}
	}
	.right {
		.image {
			&:nth-child(1) {
				display: block;
				margin-bottom: 30px;
			}
			&:nth-child(2),
			&:nth-child(3) {
				display: block;
				width: calc(50% - 15px);
			}
		}
	}
	@media screen and (max-width: $bp-sm) {
		padding: 40px 20px;
		.left,
		.right {
			width: 100%;
		}
		.left {
			margin-bottom: 15px;
			.image {
				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 15px;
					width: calc(50% - 7.5px);
				}
			}
		}
		.right {
			.image {
				&:nth-child(1) {
					margin-bottom: 15px;
				}
				&:nth-child(2),
				&:nth-child(3) {
					width: calc(50% - 7.5px);
				}
			}
		}
	}
}