&.image {
	position: relative;
	padding-top: 88px;
	.parallax-window,
	img {
		min-height: 562px;
		@media screen and (max-width: $bp-md) {
			min-height: 300px;
		}
	}
	img {
		display: block;
		width: 100%;
		max-height: 562px;
		object-fit: cover;
		object-position: center;
		@media screen and (max-width: $bp-md) {
			max-height: 300px;
		}
	}
}