&.list,
&.news,
&.partners-list,
&.woocommerce-products {
	padding: 4.8rem 2.4rem 0 2.4rem;
	.list-container {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		&.blocks-display {
			&-column {
				flex-wrap: wrap;
				.item {
					padding-bottom: 2.4rem;
				}
				&.column-count {
					&-4 {
						.item {
							max-width: calc(25% - 2.4rem);
							@media screen and (min-width: 950px) {
								&:nth-child(4n + 4) {
									margin-right: 0;
								}
							}
						}
					}
					&-3 {
						.item {
							max-width: calc(33.3333% - 2.2rem);
							@media screen and (min-width: 750px) {
								&:nth-child(3n + 3) {
									margin-right: 0;
								}
							}
						}
					}
					&-2 {
						.item {
							max-width: calc(50% - 1.6rem);
							@media screen and (min-width: 550px) {
								&:nth-child(2n + 2) {
									margin-right: 0;
								}
							}
						}
					}
					&-1 {
						.item {
							max-width: 100%;
							margin-right: 0;
						}
					}
					@media screen and (max-width: 950px) and (min-width: 750px) {
						&-4 {
							.item {
								max-width: calc(33.3333% - 2.2rem);
								&:nth-child(3n + 3) {
									margin-right: 0;
								}
							}
						}
					}
					@media screen and (max-width: 750px) and (min-width: 550px) {
						&-4,
						&-3 {
							.item {
								max-width: calc(50% - 1.6rem);
								&:nth-child(2n + 2) {
									margin-right: 0;
								}
							}
						}
					}
					@media screen and (max-width: 550px) {
						&-4,
						&-3,
						&-2 {
							.item {
								max-width: 100%;
								margin-right: 0;
							}
						}
					}
				}
				.item {
					width: 100%;
					margin-right: 3.2rem;
				}
			}
			&-inline {
				flex-wrap: wrap;
				.item {
					max-width: 100%;
					width: 100%;
					display: flex;
					align-items: flex-start;
					padding: 1.6rem 0;
					border-top: 1px solid #dedede;
					width: 100%;
					&:last-child {
						border-bottom: 1px solid #dedede;
					}
				}
				.image {
					width: 255px;
					max-width: 100%;
					margin-bottom: 0;
				}
				.text {
					padding: 2.4rem 0 2.4rem 3.2rem;
					width: calc(100% - 255px);
				}
				h3 {
					margin-bottom: 0.8rem;
				}
				.btn {
					margin-top: 1rem;
				}
				@media screen and (max-width: 650px) {
					.item {
						align-items: center;
					}
					.image {
						width: 150px;
					}
					.text {
						width: calc(100% - 150px);
					}
				}
				@media screen and (max-width: 450px) {
					.item {
						flex-wrap: wrap;
					}
					.image {
						width: 100%;
					}
					.text {
						width: 100%;
						padding-left: 0;
					}
				}
			}
		}
		&.images-display {
			&-round {
				.image {
					text-align: center;
					width: 80px;
					height: 80px;
					margin: 0 auto;
					a {
						display: inline-block;
						width: 100%;
						height: 100%;
					}
					img {
						width: 80px;
						height: 80px;
						object-fit: cover;
						border-radius: 80px;
						margin: 0 auto;
					}
					.label {
						margin-top: 0.5rem;
					}
				}
				.text {
					text-align: center;
				}
			}
		}
	}
	.image {
		position: relative;
		margin-bottom: 0.9rem;
		img,
		> a {
			display: block;
		}
		img {
			border-radius: 4px;
		}
	}
	.label {
		color: #000000;
		font-size: 1.2rem;
		font-weight: 500;
		letter-spacing: 0.19rem;
		line-height: 3.2rem;
		text-transform: uppercase;
		text-align: center;
		padding: 0 2.4rem;
		position: relative;
		z-index: 2;
		ul {
			background: #fff;
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;
			padding: 1.6rem 0 1.1rem 0;
		}
		li {
			display: inline-block;
			margin-right: 1rem;
			&:last-of-type {
				margin-right: 0;
			}
		}
		a {
			color: $color-text;
			transition: color 0.3s ease;
			&:hover {
				color: $color-1;
			}
		}
	}
	.text {
		h3 {
			margin-top: 0;
			color: #000000;
			font-family: $secondary-font;
			font-size: 2rem;
			font-weight: 400;
			letter-spacing: 0.03rem;
			line-height: 2.4rem;
			text-align: center;
		}
		.description {
			color: $color-text;
			letter-spacing: -0.1px;
		}
		.btn {
			margin-top: 18px;
		}
	}
	.btn-container {
		text-align: center;
		padding: 3.2rem 2.4rem 0 2.4rem;
	}
}