// Par défaut, identique à .page-item.list
&.news {
    position: relative;
    padding: 74px 20px 44px 20px;
    .container {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 490px;
        background: url('../images/news-bg.jpg') no-repeat center / cover;
        z-index: 0;
        pointer-events: none;
    }
    .block-title {
        padding-bottom: 86px;
    }
    .btn-container {
        padding-top: 0;
    }
    article {
        .image {
            > a {
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 200%;
                    max-height: 0;
                    position: absolute;
                    transition: all 1s ease;
                    opacity: 0;
                    z-index: 1;
                    pointer-events: none;
                    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(251, 247, 242, 0.27) 61%, #efe0d0 100%);
                }
                &:hover {
                    &:before {
                        opacity: 1;
                        max-height: 100%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 550px) {
        .image {
            max-width: 250px;
            margin: 0 auto;
        }
    }
}