&.numbers {
    position: relative;
    padding: 8rem 2.4rem 4.8rem 2.4rem;
    z-index: 1;
    .numbers {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .item {
        width: 100%;
        text-align: center;
        color: $color-1;
        flex-grow: 1;
        &:last-of-type {
            border-right: 0;
        }
    }
    .line {
        &.line-1 {
            font-size: 6.4rem;
            font-weight: 500;
            letter-spacing: -0.16rem;
            line-height: 7.8rem;
            margin-bottom: 10px;
        }
        &.line-2 {
            color: $color-text;
            letter-spacing: -0.1px;
        }
    }
    @media screen and (max-width: $bp-lg) {
        .numbers {
            flex-wrap: wrap;
        }
        .item {
            border-right: 0;
            border-bottom: 1px solid rgba(#adadad, 0.5);
            padding: 1.5rem 0;
            &:last-of-type {
                border-bottom: 0;
            }
        }
        .line.line-1 {
            font-size: 6rem;
            line-height: 6rem;
        }
    }
    @media screen and (max-width: $bp-sm) {
        .line.line-1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}