&.pages {
	padding: 44px 20px;
	.container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.page {
		position: relative;
		width: calc(50% - 16px);
		min-height: 395px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		overflow: hidden;
		&:after {
			content: "";
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-image: linear-gradient(180deg, rgba(250, 245, 239, 0) 0%, rgba(236, 233, 230, 0.51) 35%, #dedede 100%);
			opacity: 0.95;
			pointer-events: none;
			z-index: 1;
		}
		&:first-child:last-child {
			width: 100%;
			margin: 0;
		}
		&:nth-child(2n + 2) {
			margin-left: 32px;
		}
		&:nth-child(n + 3) {
			margin-top: 32px;
		}
		&:hover {
			.btn {
				opacity: 1;
				bottom: 0;
			}
			h2 {
				margin-bottom: 52px;
			}
			img {
				max-width: calc(100% + 20px);
				max-height: calc(100% + 20px);
			}
		}
		> a {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
		}
		img {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 200%;
			height: 200%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
			z-index: 0;
			transform: translate3d(-50%, -50%, 0);
			transition: all 1s ease;
		}
		.text {
			position: relative;
			z-index: 2;
			text-align: center;
			margin-bottom: 33px;
		}
		h2 {
			margin: 0;
			transition: all 0.3s ease;
		}
		.btn {
			opacity: 0;
			transition: all 0.5s ease;
			position: absolute;
			left: 50%;
			bottom: -52px;
			transform: translate3d(-50%, 0, 0);
			white-space: nowrap;
		}
	}
	@media screen and (max-width:550px) {
		.page {
			width: 100%;
			margin-bottom: 32px;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(2n + 2) {
				margin-left: 0;
			}
		}
	}
}