&.partners-selection {
	padding-top: 40px;
	h2 {
		color: #ffffff;
		text-align: center;
		margin: 0 0 24px 0;
	}
	.bg-color {
		background: $color-1;
		padding: 40px 120px;
	}
	a {
		display: inline-block;
		vertical-align: middle;
	}
	img {
		max-width: 100%;
		display: inline-block;
		max-height: 76px;
		width: auto;
	}
	.item {
		background: #fff;
		text-align: center;
		padding: 20px 12px;
		border-radius: 4px;
		height: 120px;
		line-height: 8rem;
	}
	.slide-custom-nav {
		position: absolute;
		left: -120px;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		width: calc(100% + 240px);
		display: flex !important;
		justify-content: space-between;
		height: 120px;
		line-height: 12rem;
		z-index: 1;
		pointer-events: none;
		svg {
			fill: #fff;
			transition: all 0.3s ease;
		}
	}
	.custom-prev,
	.custom-next {
		display: block;
		width: 120px;
		text-align: center;
		pointer-events: auto;
		cursor: pointer;
		&:hover {
			svg {
				fill: $color-text;
			}
		}
	}
	.container {
		position: relative;
	}
	@media screen and (max-width: 750px) {
		.bg-color {
			padding: 40px 60px;
		}
		.slide-custom-nav {
			left: -60px;
			width: calc(100% + 120px);
		}
		.custom-prev,
		.custom-next {
			width: 60px;
		}
	}
}