&.products-categories {
	padding: 94px 20px;
	background-color: #faf5ef;
	position: relative;
	.bg {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		z-index: 0;
		height: 100%;
		&.empty {
			width: 512px;
			height: 448px;
			background: url('../images/categories-block-deco.jpg') no-repeat center;
		}
		img {
			display: block;
			height: 100%;
			width: auto;
		}
	}
	.container {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	.left {
		width: 375px;
		max-width: 100%;
		text-align: center;
		padding-right: 32px;
		.btn {
			margin-bottom: 32px;
		}
	}
	.slide-custom-nav {
		&.no-nav-desktop {
			@media screen and (min-width: $bp-md) {
				display: none;
			}
		}
	}
	.custom-prev,
	.custom-next {
		display: inline-block;
		background-color: #efe0d0;
		width: 48px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		border-radius: 100%;
		cursor: pointer;
		animation: all 0.3s ease;
		&:hover {
			background: #000;
			svg {
				fill: #efe0d0;
			}
		}
		svg {
			display: inline-block;
			vertical-align: middle;
			animation: all 0.3s ease;
		}
	}
	.custom-prev {
		margin-right: 16px;
	}
	.items {
		width: calc(100% - 375px);
	}
	.owl-item {
		&:nth-child(3n) {
			.item > a {
				mask: url(../images/svg/path-1.svg);
			}
		}
		&:nth-child(3n + 1) {
			.item > a {
				mask: url(../images/svg/path-2.svg);
			}
		}
		&:nth-child(3n + 2) {
			.item > a {
				mask: url(../images/svg/path-3.svg);
				width: 234px;
				height: 217px;
			}
		}
	}
	.item {
		text-align: center;
		> a {
			width: 246px;
			height: 217px;
			display: inline-block;
			position: relative;
			z-index: 1;
			&:hover {
				img {
					max-width: 110%;
					max-height: 110%;
				}
			}
		}
		img {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 200%;
			height: 200%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position: center;
			transition: all 1s ease;
		}
		.title {
			margin-top: 15px;
			text-align: center;
			position: relative;
			z-index: 2;
			a {
				color: #000000;
				font-size: 1.5rem;
				font-weight: 500;
				letter-spacing: 0.1rem;
				line-height: 2.4rem;
			}
		}
	}
	@media screen and (max-width: $bp-sm) {
		.container {
			flex-wrap: wrap;
		}
		.items {
			width: 100%;
		}
		.left {
			padding-right: 0;
			margin-bottom: 32px;
			width: 100%;
		}
	}
}