&.products-slider {
    padding: 86px 24px;
    .products-list {
        .product {
            width: 100%;
            margin: 0;
        }
    }
    .owl-item {
        .product {
            max-width: 340px;
            margin: 0 auto;
            .image {
                height: 420px;
                width: 100%;
            }
            img {
                width: 200%;
                height: 200%;
            }
        }
    }
    .slider-container {
        position: relative;
    }
    .slide-custom-nav {
        position: absolute;
        left: -80px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: calc(100% + 160px);
        display: flex;
        justify-content: space-between;
        z-index: 1;
        pointer-events: none;
        svg {
            fill: $color-text;
            transition: all 0.15s ease;
        }
        &.no-nav-desktop {
            @media screen and (min-width: 1450px) {
                display: none;
            }
        }
    }
    .custom-prev,
    .custom-next {
        display: block;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        pointer-events: auto;
        cursor: pointer;
        background-color: #efe0d0;
        border-radius: 100%;
        line-height: 48px;
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .custom-prev {
        &:hover {
            svg {
                margin-right: 10px;
            }
        }
    }
    .custom-next {
        &:hover {
            svg {
                margin-left: 10px;
            }
        }
    }
    @media screen and (max-width:1450px) {
        .slide-custom-nav {
            left: 0;
            width: 100%;
            padding: 0 20px;
        }
    }
}