&.products-selection {
    padding: 88px 20px;
    .container {
        position: relative;
    }
    .left,
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2;
        pointer-events: none;
    }
    .left {
        top: 0;
        left: 0;
    }
    .right {
        right: 0;
        bottom: 0;
    }
    .items {
        position: relative;
        z-index: 1;
    }
    .owl-stage {
        display: flex;
        align-items: stretch;
    }
    .owl-item {
        height: 100%;
        &.active {
            .product {
                margin-top: 195px;
                margin-bottom: 0;
            }
            & + .active {
                .product {
                    margin-bottom: 145px;
                    margin-top: 0;
                }
            }
            &.to-left {
                .product {
                    transition: all 0.3s ease 0s;
                }
                & + .active {
                    .product {
                        transition: all 0.3s ease 0.5s;
                    }
                }
            }
            &.to-right {
                .product {
                    transition: all 0.3s ease 0s;
                }
                & + .active {
                    .product {
                        transition: all 0.3s ease 0.5s;
                    }
                }
            }
            & + .owl-item:not(.active) {
                .product {
                    margin-bottom: 145px;
                    margin-top: 0;
                }
            }
        }
    }
    .categories {
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(-90deg);
        white-space: nowrap;
        display: block;
        transform-origin: right top;
        color: #000000;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 3.2rem;
        text-align: right;
        text-transform: uppercase;
    }
    .product {
        width: 100%;
        max-width: 384px;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 195px;
        > a {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 1;
        }
        .title {
            color: #000000;
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            line-height: 2.4rem;
            margin: 16px 0;
        }
        .price {
            color: #000000;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.4rem;
        }
    }
    .block-title {
        pointer-events: auto;
        h2 {
            color: #000000;
            font-family: $secondary-font;
            font-size: 4.8rem;
            font-weight: 400;
            letter-spacing: 0.086rem;
            line-height: 7.2rem;
        }
        p {
            margin: 4px 0 16px 0;
        }
    }
    blockquote {
        margin: 0 auto;
        width: 100%;
        max-width: 384px;
        pointer-events: auto;
    }
    .slide-custom-nav {
        position: absolute;
        left: -80px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: calc(100% + 160px);
        display: flex;
        justify-content: space-between;
        z-index: 1;
        pointer-events: none;
        svg {
            fill: $color-text;
            transition: all 0.15s ease;
        }
        &.no-nav-desktop {
            @media screen and (min-width: 900px) {
                display: none;
            }
        }
    }
    .custom-prev,
    .custom-next {
        display: block;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        pointer-events: auto;
        cursor: pointer;
        background-color: #efe0d0;
        border-radius: 100%;
        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .custom-prev {
        &:hover {
            svg {
                margin-right: 10px;
            }
        }
    }
    .custom-next {
        &:hover {
            svg {
                margin-left: 10px;
            }
        }
    }
    @media screen and (max-width:1410px) {
        .slide-custom-nav {
            left: 0;
            width: 100%;
        }
    }
    @media screen and (max-width:900px) {
        .left {
            position: relative;
            width: 100%;
        }
        .right {
            display: none;
        }
        .product {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .slide-custom-nav {
            padding: 0 20px;
        }
        .owl-item {
            &.active {
                & + .active {
                    .product {
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                }
                .product {
                    margin-top: 0;
                }
            }
            .product {
                min-width: calc(100vw - 40px);
                max-width: none;
            }
        }
        .custom-prev {
            &:hover {
                svg {
                    margin-right: 0;
                }
            }
        }
        .custom-next {
            &:hover {
                svg {
                    margin-left: 0;
                }
            }
        }
    }
}