&.products-alternate {
	padding: 44px 0;
	.container {}
	.item {
		display: flex;
		align-items: center;
		&:nth-child(2n + 1) {
			.image {
				order: 2;
			}
			.infos {
				order: 1;
			}
		}
	}
	.image {
		width: 40%;
		height: 900px;
		max-height: 100vh;
		position: relative;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
		}
	}
	.infos {
		width: 60%;
		display: flex;
		align-items: center;
		justify-content: center;
		.content {
			width: 384px;
			max-width: 100%;
		}
	}
	.buttons {
		margin-top: 26px;
		.btn {
			&:first-child {
				margin-right: 16px;
			}
		}
	}
	.description {
		margin-top: 32px;
	}
	.datas {
		display: flex;
		align-items: center;
		> span {
			padding: 0 24px;
			display: inline-block;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		.price {
			color: #000000;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 3.2rem;
			display: flex;
			align-items: center;
			del + ins {
				margin-left: 8px;
			}
		}
		.info {
			color: #000000;
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.08rem;
			line-height: 2.4rem;
			border-left: 1px solid #b1b1b1;
			border-right: 1px solid #b1b1b1;
			white-space: nowrap;
		}
		.product-score {
			display: flex;
			white-space: nowrap;
		}
	}
	@media screen and (max-width: $bp-md) {
		.item {
			flex-wrap: wrap;
			&:not(:first-child) {
				margin-top: 44px;
			}
		}
		.image,
		.infos {
			width: 100%;
		}
		.image {
			height: 300px;
			width: 100%;
			order: 1 !important;
			&:after {
				display: none;
			}
		}
		.infos {
			order: 2 !important;
			justify-content: flex-start;
			padding: 20px 20px 0 20px;
		}
	}
	@media screen and (max-width: $bp-sm) {
		h2 {
			text-align: center;
		}
		.datas {
			flex-wrap: wrap;
			justify-content: center;
			.info {
				border-right: 0;
				padding-right: 0;
			}
			.product-score {
				width: 100%;
				margin-top: 16px;
				padding-left: 0;
				justify-content: center;
			}
		}
	}
}