&.reassurance {
    padding: 78px 24px;
    background: url('../images/reassurance-bg.jpg') no-repeat center;
    background-color: #faf5ef;
    &:last-child {
        margin-bottom: -40px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .el {
        margin: 0 16px;
        text-align: center;
    }
    .owl-item {
        &:not(:first-child) {
            svg {
                path {
                    fill: $color-1;
                    &[stroke] {
                        fill: none;
                        stroke: $color-1;
                    }
                }
            }
        }
    }
    img, svg {
        display: block;
        margin: 0 auto 16px auto;
        max-width: 55px;
        max-height: 55px;
    }
    .text {
        opacity: 0.8;
        color: #000000;
        letter-spacing: 0.1rem;
        line-height: 2rem;
    }
}