&.slider-home {
    position: relative;
    & + .page-item.products-selection {
        &:after {
            position: absolute;
            right: 0;
            top: 0;
            width: 540px;
            height: 400px;
            display: block;
            background: url('../images/after-homeslider-bg.jpg') no-repeat center / cover;
            pointer-events: none;
            content: "";
        }
    }
    .top {
        color: #efe0d0;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        line-height: 1.6rem;
        background-color: #000000;
        text-align: center;
        padding: 8px 16px;
    }
    .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 167px;
        z-index: 2;
        display: flex;
        align-items: stretch;
    }
    .btn.vertical {
        position: absolute;
        right: 0;
        top: 150px;
        z-index: 3;
        transform: rotate(180deg);
        writing-mode: tb-rl;
        white-space: nowrap;
        padding: 20px;
    }
    .reassurances {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(100% - 289px);
        position: relative;
        padding: 42px 32px 42px 80px;
        text-align: center;
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, rgba(150, 139, 127, 0) 0%, rgba(100, 86, 71, 0.7) 100%);
            opacity: 0.5;
            z-index: 0;
            pointer-events: none;
        }
        .owl-item {
            &:not(:first-child) {
                svg {
                    path {
                        fill: #fff;
                        &[stroke] {
                            fill: none;
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        .ra-item {
            position: relative;
            z-index: 1;
        }
        svg {
            display: inline-block;
        }
        .icon {
            margin-bottom: 15px;
        }
        .text {
            opacity: 0.8;
            color: #ffffff;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.083rem;
            line-height: 1.713rem;
        }
    }
    .news {
        width: 289px;
        background: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        padding: 16px;
        .title {
            margin-bottom: 28px;
        }
    }
    > .owl-carousel {
        .item {
            display: flex;
            height: 100%;
            position: relative;
            min-height: calc(100vh - 32px);
            padding-bottom: 256px;
            padding-top: $header-height;
            align-items: flex-end;
            .circle-container {
                $particleNum: 100;
                $particleColor: $color-1;
                position: absolute;
                transform: translateY(-10vh);
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                z-index: 4;
                pointer-events: none;
                .circle {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    mix-blend-mode: screen;
                    background-image: radial-gradient($particleColor,
                            $particleColor 10%,
                            transparent 56%);
                    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
                    @keyframes fade-frames {
                        0% {
                            opacity: 1;
                        }
                        50% {
                            opacity: 0.7;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                    @keyframes scale-frames {
                        0% {
                            transform: scale3d(0.4, 0.4, 1);
                        }
                        50% {
                            transform: scale3d(2.2, 2.2, 1);
                        }
                        100% {
                            transform: scale3d(0.4, 0.4, 1);
                        }
                    }
                }
                $particleBaseSize: 8;
                @for $i from 1 through $particleNum {
                    &:nth-child(#{$i}) {
                        $circleSize: random($particleBaseSize);
                        width: $circleSize + px;
                        height: $circleSize + px;
                        $startPositionY: random(10) + 20;
                        $framesName: "move-frames-"+ $i;
                        $moveDuration: 28000 + random(9000) + ms;
                        animation-name: #{$framesName};
                        animation-duration: $moveDuration;
                        animation-delay: random(37000) + ms;
                        @keyframes #{$framesName} {
                            from {
                                transform: translate3d(#{random(100) + vw},
                                    #{$startPositionY + vh},
                                    0);
                            }
                            to {
                                transform: translate3d(#{random(100) + vw},
                                    #{- ($startPositionY + 100) - random(30) + vh},
                                    0);
                            }
                        }
                        .circle {
                            animation-delay: random(4000) + ms;
                        }
                    }
                }
            }
        }
        img {
            width: auto;
            display: inline-block;
        }
        .img {
            width: auto;
            max-height: 400px;
            margin: 0 auto;
        }
        .bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }
        .content {
            position: relative;
            z-index: 3;
            max-width: $main-container;
            margin: 0 auto;
            width: 100%;
            text-align: right;
        }
        .text,
        .title,
        .btn-wrapper,
        .img {
            backface-visibility: none;
            opacity: 0;
            transform: translate3d(0, -400px, 0);
            transition: opacity $eOutQuad 0.5s 0s, transform $eOutExpo 0.1s 0.5s;
        }
        .title,
        h1 {
            color: #ffffff;
            font-family: $secondary-font;
            font-size: 5.6rem;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 6.4rem;
            margin: 0 0 7px 0;
        }
        .text {
            color: #efe0d0;
            font-family: $secondary-font;
            font-size: 2rem;
            letter-spacing: 0.111rem;
            line-height: 3.2rem;
        }
        .btn-wrapper {
            margin-top: 27px;
        }
        .owl-stage {
            display: flex;
        }
        .owl-item {
            flex-shrink: 0;
            float: none;
            overflow: hidden;
            &.active {
                .title,
                .btn-wrapper,
                .text,
                .img {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
                .title {
                    transition: opacity $eOutQuad 0.6s 0s, transform $eOutExpo 0.8s 0s;
                }
                .btn-wrapper {
                    transition: opacity $eOutQuad 0.4s 0.4s, transform $eOutExpo 0.8s 0.4s;
                }
                .img {
                    transition: opacity $eOutQuad 0.4s 0.6s, transform $eOutExpo 0.8s 0.6s;
                }
                .text {
                    transition: opacity $eOutQuad 0.8s 0.2s, transform $eOutExpo 0.8s 0.2s;
                }
            }
        }
    }
    .slide-custom-nav {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(0, -100%, 0);
        width: 100%;
        display: flex !important;
        justify-content: flex-start;
        height: 48px;
        line-height: 48px;
        z-index: 2;
        pointer-events: none;
        margin-left: 0;
        svg {
            fill: #fff;
            transition: all 0.1s ease;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .custom-prev,
    .custom-next {
        display: block;
        width: 48px;
        background: #fff;
        text-align: center;
        pointer-events: auto;
        cursor: pointer;
        svg {
            fill: #000;
        }
    }
    .custom-prev {
        &:hover {
            svg {
                margin-right: 5px;
            }
        }
    }
    .custom-next {
        &:hover {
            svg {
                margin-left: 5px;
            }
        }
    }
    @media screen and (max-width: 1375px) {
        .owl-carousel {
            .item {
                padding-right: 95px;
                padding-left: 20px;
            }
        }
    }
    @media screen and (max-width: $bp-sm) {
        .circle-container {
            display: none !important;
        }
        .btn.vertical {
            display: none;
        }
        .reassurances {
            padding-left: 20px;
            padding-right: 20px;
            width: 50%;
        }
        .news {
            width: 50%;
        }
        > .owl-carousel {
            .item {
                padding-right: 20px;
            }
            .content {
                text-align: center;
            }
            h1 {
                hyphens: auto;
                font-size: 4.8rem;
                line-height: 4.8rem;
            }
        }
    }
    @media screen and (max-width: 1100px) {}
    @media screen and (max-width: $bp-md) {}
    @media screen and (max-width: 550px) {}
}