&.team {
	padding: 40px 20px 0 20px;
	.items {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.item {
		width: 50%;
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		margin-bottom: 24px;
	}
	.img {
		width: 180px;
		max-width: 100%;
	}
	.text {
		padding: 41px 30px 0 20px;
		width: calc(100% - 180px);
	}
	.name {
		margin: 0 0 5px 0;
	}
	.role {
		color: #616161;
		letter-spacing: -0.1px;
		font-style: italic;
		margin-bottom: 10px;
	}
	.description {
		color: $color-text;
		letter-spacing: -0.1px;
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@media screen and (max-width: $bp-sm) {
		.item {
			width: 100%;
		}
	}
	@media screen and (max-width: 450px) {
		.item {
			flex-wrap: wrap;
		}
		.text {
			padding: 20px 0 0 0;
		}
		.text,
		.img {
			width: 100%;
		}
	}
}