&.testimonial {
    background-color: #faf5ef;
    padding: 80px 20px;
    .container {
        display: flex;
        align-items: flex-start;
    }
    .left {
        width: 384px;
        max-width: 100%;
        padding-top: 24px;
    }
    .right {
        width: calc(100% - 384px);
    }
    .custom-prev,
    .custom-next {
        display: inline-block;
        background-color: #efe0d0;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        border-radius: 100%;
        cursor: pointer;
        animation: all 0.3s ease;
        &:hover {
            background: #000;
            svg {
                fill: #efe0d0;
            }
        }
        svg {
            display: inline-block;
            vertical-align: middle;
            animation: all 0.3s ease;
        }
    }
    .custom-prev {
        margin-right: 16px;
    }
    .block-title {
        text-align: left;
        .description {
            margin: 21px 0 29px 0;
        }
    }
    .el {
        padding: 0 20px;
    }
    blockquote {
        color: #000000;
        font-family: $secondary-font;
        font-size: 2rem;
        font-weight: 400;
        line-height: 4rem;
        text-align: left;
        margin-bottom: 80px;
        svg {
            left: 0;
            transform: none;
        }
    }
    .author {
        .name {
            color: #000000;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.4rem;
            margin-bottom: 8px;
        }
        .description {
            color: #000000;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.4rem;
        }
    }
    @media screen and (max-width: 950px) {
        .container {
            flex-wrap: wrap;
        }
        .right {
            width: 100%;
            blockquote {
                text-align: center;
                margin-bottom: 32px;
                svg {
                    left: 50%;
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }
        .left {
            padding-top: 0;
            margin: 0 auto;
            text-align: center;
            .block-title {
                text-align: center;
            }
        }
        .author {
            text-align: center;
        }
        .arrow {
            padding-left: 0;
        }
    }
}