&.testimonials {
	padding: 40px 0 0 0;
	.owl-item.active.center {
		.item {
			border-color: $color-1;
		}
	}
	.owl-item {
		padding: 0 10px;
	}
	.item {
		display: flex;
		align-items: flex-start;
		border-radius: 8px;
		border: 1px solid #e6e6e6;
		padding: 44px 30px 35px 60px;
		height: 100%;
		width: 540px;
		margin: 0 auto;
		max-width: 100%;
	}
	.no-loop {
		.owl-item {
			&:not(:first-child):not(:last-child),
			&:first-child:last-child {
				.item {
					border-color: $color-1;
				}
			}
		}
		.owl-stage {
			justify-content: center;
			left: 0;
			margin: 0 auto;
		}
	}
	.owl-stage {
		left: -60px;
		display: flex;
		align-items: stretch;
	}
	.owl-dots {
		display: flex;
		justify-content: center;
		padding: 42px 20px;
		align-items: center;
	}
	.owl-dot {
		width: 12px;
		height: 12px;
		position: relative;
		line-height: 1.2rem;
		text-align: center;
		margin: 0 0.3rem;
		&:after {
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			background-color: #dedede;
			border-radius: 8px;
			vertical-align: middle;
		}
		&.active {
			&:after {
				background: $color-1;
				width: 100%;
				height: 100%;
			}
		}
	}
	.image {
		min-width: 110px;
		img {
			display: block;
			width: 80px;
			height: 80px;
			border-radius: 80px;
			object-fit: cover;
		}
	}
	.content {
		width: 100%;
	}
	.text {
		color: $color-text;
		letter-spacing: -0.1px;
		svg {
			fill: $color-1;
			width: 28px;
			height: 20px;
			display: block;
			margin-bottom: 1.6rem;
		}
		p {
			margin-bottom: 0;
		}
	}
	.author {
		color: $color-text;
		font-size: $font-size;
		font-weight: 700;
		letter-spacing: -0.1px;
		line-height: 2.4rem;
		margin-top: 2.1rem;
		display: block;
	}
	@media screen and (max-width: $bp-md) {
		padding: 40px 20px 0 20px;
		.owl-stage {
			left: 0;
		}
	}
	@media screen and (max-width: 550px) {
		.item {
			flex-wrap: wrap;
			padding: 44px 30px;
		}
		.image {
			min-width: 0;
			margin: 0 auto;
		}
	}
}