&.text {
    padding: 88px 20px 0 20px;
    .container {
        max-width: 730px;
        width: 100%;
        &.protected {
            max-width: 730px !important;
        }
    }
    .text {
        > *:first-child {
            margin-top: 0;
        }
    }
    .post-password-form {
        max-width: 778px;
        margin: 0 auto;
        padding: 32px 24px;
    }
}