// Banner
&.top-banner {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    padding: 155px 2.4rem 0 2.4rem;
    background: transparent;
    & + .page-item.form {
        margin-top: -(475px/2);
        .container {
            > .right {
                padding-top: 280px;
            }
        }
    }
    & + .page-item.products-categories {
        margin-top: 84px;
    }
    .bg {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 421px;
        object-position: center;
        object-fit: cover;
        z-index: 0;
        opacity: 0.63;
    }
    .text {
        position: relative;
        z-index: 3;
        max-width: $main-container;
        margin: 0 auto;
    }
    .image {
        display: block;
        height: 475px;
        object-fit: cover;
        object-position: center;
        max-width: 695px;
        pointer-events: auto;
    }
    h1 {
        margin: 0;
        position: absolute;
        top: 73px;
        right: 0;
        width: calc(100% - 695px + 75px);
        text-align: left;
        pointer-events: auto;
    }
    .description {
        color: #000000;
        font-family: $secondary-font;
        font-size: 3.2rem;
        font-weight: 400;
        letter-spacing: 0.08rem;
        line-height: 3.7rem;
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(100% - 695px);
        padding: 4.2rem 2.4rem 2.4rem 2.4rem;
        pointer-events: auto;
        svg {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            display: inline-block;
            width: 28px;
            height: 21px;
            z-index: 1;
            path {
                fill: #efe0d0;
            }
        }
    }
    .btn.vertical {
        position: absolute;
        right: 0;
        top: 150px;
        z-index: 3;
        transform: rotate(180deg);
        writing-mode: tb-rl;
        white-space: nowrap;
        padding: 20px;
    }
    @media screen and (max-width:1250px) {
        .image {
            max-width: 475px;
        }
        h1 {
            width: calc(100% - 475px + 75px);
        }
        .description {
            width: calc(100% - 475px);
        }
        & + .page-item.form {
            margin-top: 0;
            .container {
                > .right {
                    padding-top: 64px;
                }
            }
        }
    }
    @media screen and (max-width:1050px) {
        .image {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            position: relative;
            left: 0;
            top: 0;
            transform: none !important;
            z-index: 1;
            height: 200px;
            margin-bottom: 16px;
        }
        .bg {
            height: 100%;
        }
        h1 {
            position: relative;
            width: 100%;
            left: 0;
            top: 0;
            text-align: center;
            margin-bottom: 32px;
            z-index: 2;
        }
        .description {
            position: relative;
            width: 100%;
            right: auto;
            bottom: auto;
            left: 0;
            top: 0;
            z-index: 2;
            padding: 0;
            svg {
                display: none;
            }
        }
        .text {
            min-height: 475px;
            width: 695px;
            max-width: 100%;
            padding: 20px;
        }
    }
    @media screen and (max-width: $bp-sm) {
        .btn.vertical {
            display: none;
        }
    }
    @media screen and (max-width: $bp-md) {
        padding-top: $header-height-mobile;
    }
}