&.video {
	padding: 0;
	background: #000;
	margin-top: 88px;
	.bg-container {
		position: relative;
		padding: 5.6rem 2.4rem;
		overflow: hidden;
		display: flex;
		align-items: center;
		.video-container {
			width: 100%;
		}
	}
	.container {
		max-width: 796px;
		position: relative;
		z-index: 1;
		min-height: 275px;
		display: flex;
		align-items: center;
		opacity: 0;
		transition: all 0.3s ease;
		&.played {
			opacity: 1;
		}
		.video-container {
			width: 100%;
		}
	}
	.hover {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
		z-index: 2;
		cursor: pointer;
		transition: opacity $eOutSine 0.6s 0.5s;
		opacity: 0.43;
		&.hidden {
			z-index: 0;
		}
	}
	.play-content {
		@extend %absolute-centered;
		z-index: 3;
		pointer-events: none;
		text-align: center;
		padding: 0 2.4rem;
		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}
	.subheading {
		color: #ffffff;
		font-size: 1.4rem;
		font-weight: 700;
		letter-spacing: 0.04rem;
		text-transform: uppercase;
		margin-bottom: 1.4rem;
	}
	.title {
		color: #ffffff;
		margin-bottom: 7.7rem;
	}
	.play-icon {
		display: block;
		width: 84px;
		height: 84px;
		margin: 0 auto;
		svg {
			fill: #fff;
			transition: fill 0.3s ease;
		}
	}
	@media screen and (max-width: $bp-md) {
		margin-top: 44px;
	}
	@media screen and (max-width: 550px) {
		.play-content {
			width: 100%;
			width: 100%;
		}
		.title {
			margin-bottom: 4rem;
		}
		.bg-container {
			padding: 3.2rem 2.4rem;
		}
	}
}