.page-item {
	&.woocommerce {
		&-cart {
			padding: 205px 20px 0 20px;
			.cart-empty {
				width: 100%;
			}
			table.shop_table {
				.actions {
					.coupon {
						#coupon_code {
							width: auto;
							line-height: 2.4rem;
							padding: 0.8rem 1.6rem;
						}
					}
				}
			}
			> .container {
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
			}
			.woocommerce-notices-wrapper {
				width: 100%;
			}
			.cart-collaterals {
				width: 280px;
				max-width: 100%;
				a {
					color: $color-text;
				}
				&:before,
				&:after {
					display: none;
				}
				.cart_totals {
					float: none;
					width: 100%;
					h2 {
						margin-top: 0;
					}
				}
				.coupon.form {
					display: flex;
					align-items: stretch;
					justify-content: flex-start;
					margin-bottom: 24px;
					width: 100%;
					#coupon_code {
						width: calc(100% - 88px);
						max-width: 100%;
					}
					button {
						width: 88px;
					}
				}
				table {
					border: 0;
					border-collapse: collapse;
				}
				.cart-subtotal,
				.order-total {
					border-top: 1px solid #b1b1b1;
					border-bottom: 0;
					th,
					td {
						border: 0;
					}
				}
				.woocommerce-shipping-totals {
					border-top: 0;
					tr,
					td {
						border: 0;
					}
				}
				button[name=calc_shipping] {
					padding: 4px 8px;
				}
				.wc-proceed-to-checkout {
					.btn {
						width: 100%;
						text-align: center;
					}
				}
			}
			form.woocommerce-cart-form:not(.coupon) {
				width: calc(100% - 280px);
				padding-right: 32px;
				> h2 {
					margin-top: 0;
				}
				table.cart {
					border: 0;
					tr,
					td {
						border: 0;
					}
					.product-el {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						&:before {
							display: none;
						}
						.left {
							margin-right: 16px;
							.product-thumbnail {
								display: block !important;
								a {
									display: block;
								}
								img {
									display: block;
									width: 72px;
									height: 108px !important;
									object-fit: cover;
									object-position: center;
								}
							}
						}
						.center {
							margin-right: auto;
							.product-name {
								margin-bottom: 16px;
								text-align: left !important;
								a {
									color: #000000;
									font-family: $secondary-font;
									font-size: 1.8rem;
									font-weight: 400;
									line-height: 2.4rem;
								}
							}
							.product-quantity {
								display: flex;
								align-items: center;
								margin-bottom: 16px;
								span {
									color: #000000;
									font-size: 1.2rem;
									font-weight: 400;
									letter-spacing: 0.086rem;
									line-height: 2.4rem;
									display: inline-block;
									margin-right: 8px;
								}
								input {
									padding: 8px 16px;
									width: auto;
								}
								.input {
									display: flex;
									align-items: stretch;
									border: 0.1rem solid #dedede;
									background-color: #ffffff;
									margin-right: 16px;
									width: auto;
									input,
									button {
										color: #000000;
										font-family: $main-font;
										font-size: 1.4rem;
										font-weight: 400;
										letter-spacing: 0.093rem;
										line-height: 2.4rem;
										text-align: center;
										text-transform: uppercase;
									}
									input {
										border: 0;
										height: 100%;
										width: 32px;
										padding: 8px 0;
									}
									button {
										border: 0;
										background: transparent;
										cursor: pointer;
										padding: 8px;
										&:first-child {
											padding-right: 8px;
											padding-left: 8px;
										}
										&:last-child {
											padding-left: 8px;
											padding-right: 8px;
										}
									}
								}
							}
							.product-remove {
								a {
									color: #b1b1b1;
									font-size: 1.2rem;
									font-weight: 400;
									letter-spacing: 0.086rem;
									line-height: 1.6rem;
								}
							}
						}
						.right {
							margin: 0 auto;
							.product-price {
								color: #000000;
								font-size: 1.8rem;
								font-weight: 700;
								line-height: 2.4rem;
							}
						}
					}
					button[name=update_cart] {
						padding: 4px 8px;
					}
				}
			}
			@media screen and (max-width: $bp-md) {
				.cart-collaterals {
					width: 100%;
				}
				form.woocommerce-cart-form {
					width: 100%;
					padding-right: 0;
				}
			}
			@media screen and (max-width: $bp-sm) {
				.product-el {
					&:before {
						display: none;
					}
				}
				.woocommerce-cart-form {
					table.cart {
						.product-thumbnail {
							display: block !important;
						}
					}
				}
			}
			@media screen and (max-width: 550px) {
				form.woocommerce-cart-form {
					table.cart {
						.product-el {
							flex-wrap: wrap;
							.right {
								width: 100%;
								text-align: left;
								order: 2;
								margin-bottom: 8px;
							}
							.center {
								order: 3;
								.product-remove {
									text-align: left !important;
								}
								.product-quantity {
									margin-bottom: 8px;
								}
							}
							.left {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}