.page-item {
    &.woocommerce {
        &-checkout {
            padding: 4.8rem 2.4rem;
            #payment {
                ul.wc_payment_methods {
                    li {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        .input-radio {
                            margin-bottom: 0.8rem;
                        }
                        label {
                            width: calc(100% - 29px);
                        }
                    }
                }
            }
            .woocommerce-terms-and-conditions {
                > div {
                    &:first-child {
                        padding-top: 2.4rem;
                    }
                    &:last-child {
                        padding-bottom: 2.4rem;
                    }
                }
                .page-item.top-banner {
                    display: none;
                }
            }
        }
    }
}
body.woocommerce-checkout {
    #toggle-menu {
        .content {
            background-color: $color-text;
            &:before,
            &:after {
                background-color: $color-text;
            }
        }
    }
    .page-item {
        &.woocommerce {
            &-checkout {
                background-color: #efe0d0;
                padding: $header-height 32px 225px 32px;
                text-align: center;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    left: 0;
                    top: $header-height;
                    width: 100%;
                    height: calc(100% - #{$header-height});
                    position: absolute;
                    z-index: 0;
                    pointer-events: none;
                    background: url('../images/checkout-bg.jpg') no-repeat center / cover;
                    opacity: 0.84;
                }
                &:last-child {
                    margin-bottom: -40px;
                }
                .container {
                    background-color: #ffffff;
                    padding: 32px;
                    max-width: $main-container;
                    position: relative;
                    z-index: 1;
                    margin-top: 120px;
                }
                h2 {
                    margin: 0 0 72px 0;
                }
                p:last-of-type {
                    margin-bottom: 0;
                }
                .btn {
                    width: 100%;
                    line-height: 1.8rem;
                }
                .woocommerce-notice {
                    text-align: center;
                    margin-bottom: 32px;
                }
                .woocommerce-thankyou-order-details,
                .woocommerce-order-details,
                .woocommerce-customer-details {
                    display: none;
                }
                .woocommerce-billing-fields {
                    h2 {
                        margin-bottom: 32px;
                        text-align: left;
                    }
                }
                #order_review_heading {
                    text-align: left;
                    margin-bottom: 32px;
                }
                a {
                    color: $color-text;
                    font-weight: bold;
                }
                #ship-to-different-address {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                #order_comments {
                    height: 148px;
                    resize: none;
                }
                form.checkout {
                    display: flex;
                    align-items: flex-start;
                    text-align: left;
                    > .left {
                        width: calc(100% - 280px);
                        padding-right: 72px;
                    }
                    > .right {
                        width: 280px;
                    }
                    .col-2 {
                        padding-top: 44px;
                    }
                }
                @media screen and (max-width: $bp-md) {
                    form.checkout {
                        flex-wrap: wrap;
                        > .left {
                            width: 100%;
                            padding-right: 0;
                            margin-bottom: 72px;
                        }
                        > .right {
                            width: 100%;
                        }
                    }
                }
                @media screen and (max-width: 550px) {
                    > .container {
                        margin-top: 40px;
                        width: calc(100% + 64px);
                        margin-left: -32px;
                    }
                }
            }
        }
    }
}
body.woocommerce-account {
    #toggle-menu {
        .content {
            background-color: $color-text;
            &:before,
            &:after {
                background-color: $color-text;
            }
        }
    }
    .page-item {
        &.woocommerce {
            &-account {
                background-color: #efe0d0;
                padding: $header-height 32px 225px 32px;
                text-align: center;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    left: 0;
                    top: $header-height;
                    width: 100%;
                    height: calc(100% - #{$header-height});
                    position: absolute;
                    z-index: 0;
                    pointer-events: none;
                    background: url('../images/checkout-bg.jpg') no-repeat center / cover;
                    opacity: 0.84;
                }
                &:last-child {
                    margin-bottom: -40px;
                }
                .container {
                    background-color: #ffffff;
                    padding: 32px;
                    max-width: $main-container;
                    position: relative;
                    z-index: 1;
                    margin-top: 120px;
                    display: flex;
                    align-items: flex-start;
                }
                a {
                    color: $color-text;
                    font-weight: bold;
                }
                .woocommerce-MyAccount-navigation,
                .woocommerce-MyAccount-content {
                    float: none;
                }
                .woocommerce-MyAccount-navigation {
                    text-align: left;
                }
                h2 {
                    margin: 0 0 72px 0;
                }
                p:last-of-type {
                    margin-bottom: 0;
                }
                .btn {
                    width: 100%;
                    line-height: 1.8rem;
                    text-align: center;
                    & + .btn {
                        margin-top: 8px;
                    }
                }
                .woocommerce-notice {
                    text-align: center;
                    margin-bottom: 32px;
                }
                .woocommerce-thankyou-order-details,
                .woocommerce-order-details,
                .woocommerce-customer-details {
                    display: none;
                }
                @media screen and (max-width: $bp-md) {
                    .container {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
body.woocommerce-order-received {
    .page-item {
        &.woocommerce {
            &-checkout {
                background-color: #efe0d0;
                padding: $header-height 32px;
                text-align: center;
                position: relative;
                display: flex;
                align-items: center;
                min-height: 100vh;
                &:after {
                    content: "";
                    display: block;
                    left: 0;
                    top: $header-height;
                    width: 100%;
                    height: calc(100% - #{$header-height});
                    position: absolute;
                    z-index: 0;
                    pointer-events: none;
                    background: url('../images/checkout-bg.jpg') no-repeat center / cover;
                    opacity: 0.84;
                }
                &:last-child {
                    margin-bottom: -40px;
                }
                .container {
                    background-color: #ffffff;
                    padding: 32px;
                    max-width: 448px;
                    position: relative;
                    z-index: 1;
                }
                h2 {
                    margin: 0 0 72px 0;
                }
                p:last-of-type {
                    margin-bottom: 0;
                }
                .btn {
                    width: 100%;
                    line-height: 1.8rem;
                }
                .woocommerce-notice {
                    text-align: center;
                    margin-bottom: 32px;
                }
                .woocommerce-thankyou-order-details,
                .woocommerce-order-details,
                .woocommerce-customer-details {
                    display: none;
                }
                @media screen and (max-width: 550px) {
                    > .container {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
body.woocommerce-page {
    .page-item {
        &.woocommerce {
            &-form-login,
            &-form-lost-password,
            &-form-reset-password {
                background-color: #efe0d0;
                padding: (225px + $header-height) 32px 225px 32px;
                text-align: center;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    left: 0;
                    top: $header-height;
                    width: 100%;
                    height: calc(100% - #{$header-height});
                    position: absolute;
                    z-index: 0;
                    pointer-events: none;
                    background: url('../images/checkout-bg.jpg') no-repeat center;
                    opacity: 0.84;
                }
                &:last-child {
                    margin-bottom: -40px;
                }
                .container {
                    background-color: #ffffff;
                    padding: 32px;
                    max-width: 448px;
                    position: relative;
                    z-index: 1;
                }
                #customer_login {
                    display: flex;
                    flex-wrap: wrap;
                    > div {
                        width: 100%;
                    }
                }
                h2 {
                    margin: 0 0 16px 0;
                }
                p {
                    text-align: center;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                .btn.default {
                    width: 100%;
                    line-height: 1.8rem;
                }
                .woocommerce-notice {
                    text-align: center;
                    margin-bottom: 32px;
                }
                .woocommerce-thankyou-order-details,
                .woocommerce-order-details,
                .woocommerce-customer-details {
                    display: none;
                }
                @media screen and (max-width: $bp-sm) {
                    padding-top: ($header-height + 100px);
                    padding-bottom: 100px;
                }
            }
            &-form-login {
                padding-top: (100px + $header-height);
            }
        }
    }
}