.page-item {
    &.woocommerce {
        &-products {
            padding: 4.8rem 2.4rem;
            > .container {
                display: flex;
            }
            .main-content {
                width: 100%;
            }
            .sidebar {
                min-width: 350px;
                padding-left: 4rem;
                .widget {
                    margin-bottom: 2.4rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .widgettitle {
                        color: $color-text;
                        margin-bottom: 1rem;
                    }
                    ul {
                        list-style: initial;
                        padding-left: 1.6rem;
                        li {
                            list-style: initial;
                            &:before, &::marker {
                                display: none;
                            }
                        }
                    }
                    .price_slider {
                        background: lighten($color-1, 20%);
                        .ui-slider-range, .ui-slider-handle {
                            background: $color-1;
                        }
                    }
                    .woocommerce-product-search {
                        display: flex;
                        align-items: stretch;
                        .search-field {
                            margin-right: 1rem;
                        }
                        .btn {
                            min-width: 120px
                        }
                    }
                }
            }
            .list-container {
                padding-left: 0;
                > .item {
                    list-style: none;
                }
            }
        }
    }
}