.promo {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    background: $color-1;
    color: #fff;
    padding: 0.8rem 1.6rem;
    z-index: 1;
}
body.single-product {
    .btn.vertical {
        position: absolute;
        right: 0;
        top: 150px;
        z-index: 3;
        transform: rotate(180deg);
        writing-mode: tb-rl;
        white-space: nowrap;
        padding: 20px;
    }
    .woocommerce-notices-wrapper {
        margin-top: $header-height;
        @media screen and (max-width:1250px) {
            margin-top: $header-height-mobile;
        }
        .woocommerce-message {
            margin-bottom: 0;
        }
    }
    .page-item {
        &.list {
            &.no-gutenberg {
                margin-top: -26rem;
                position: relative;
                z-index: 2;
                .container {
                    max-width: 541px;
                }
                img {
                    height: 298px;
                    object-fit: cover;
                    width: 100%;
                }
                h1 {
                    margin: 0;
                }
            }
        }
        &.text {
            padding: 0;
            overflow: initial;
            .container {
                max-width: 100%;
            }
            span.promo {
                display: none;
            }
        }
    }
    #content {
        .woocommerce {
            .product {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                align-items: flex-start;
                .woocommerce-product-gallery {
                    width: calc(50% + 176px);
                    padding-right: 264px + 32px;
                    min-height: 100vh;
                    display: flex;
                    align-items: stretch;
                    float: none;
                    margin-bottom: 0;
                    .woocommerce-product-gallery__trigger {
                        display: none;
                    }
                    > figure {
                        width: 100%;
                        display: flex;
                        > .woocommerce-product-gallery__image {
                            height: 100%;
                            width: 100%;
                            a,
                            img {
                                display: block;
                                height: 100%;
                                max-height: 100vh;
                            }
                            img {
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                    .zoomImg {
                        display: none !important;
                    }
                    .owl-container {
                        width: 264px;
                        height: calc(100% - 180px);
                        position: absolute;
                        overflow: hidden;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        .woocommerce-product-gallery__image {
                            width: 264px;
                            height: 264px;
                            transform: rotate(-90deg);
                            direction: ltr;
                        }
                        a {
                            display: inline-block;
                        }
                        img {
                            width: 176px;
                            height: 264px;
                            object-fit: cover;
                            object-position: center;
                            display: block;
                            margin: 0;
                        }
                        .owl-carousel {
                            transform: rotate(90deg) translate3d(0, 100%, 0);
                            width: calc(100vh - 180px);
                            transform-origin: bottom right;
                        }
                    }
                    .slide-custom-nav {
                        position: absolute;
                        z-index: 1;
                        width: 176px;
                        height: calc(100% - 180px);
                        position: absolute;
                        right: 88px;
                        bottom: 0;
                        pointer-events: none;
                        svg {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .custom-prev,
                        .custom-next {
                            display: block;
                            width: 56px;
                            height: 56px;
                            background-color: #ffffff;
                            line-height: 56px;
                            text-align: center;
                            position: absolute;
                            left: 50%;
                            pointer-events: auto;
                            cursor: pointer;
                            svg {
                                transition: all 0.3s ease;
                            }
                        }
                        .custom-prev {
                            transform: translate3d(-50%, 0, 0) rotate(90deg);
                            top: -28px;
                            &:hover {
                                svg {
                                    margin-right: 8px;
                                }
                            }
                        }
                        .custom-next {
                            transform: translate3d(-50%, 0, 0) rotate(90deg);
                            bottom: -28px;
                            &:hover {
                                svg {
                                    margin-left: 8px;
                                }
                            }
                        }
                    }
                }
                .summary.entry-summary {
                    width: calc(50% - 176px);
                    padding-top: 180px;
                    padding-right: 85px;
                    float: none;
                    margin-bottom: 0;
                    .container {
                        max-width: calc(100% - 80px);
                        margin: 0 auto;
                    }
                    h1 {
                        margin: 0 0 25px 0;
                        color: #000000;
                        font-family: $secondary-font;
                        font-size: 3.2rem;
                        font-weight: 400;
                        letter-spacing: 0.08rem;
                        line-height: 4rem;
                    }
                    .price {
                        color: $color-text;
                    }
                    .datas {
                        display: flex;
                        align-items: center;
                        > span {
                            padding: 0 24px;
                            display: inline-block;
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                            }
                        }
                        .price {
                            color: #000000;
                            font-size: 2.4rem;
                            font-weight: 700;
                            line-height: 3.2rem;
                            display: flex;
                            align-items: center;
                            del + ins {
                                margin-left: 8px;
                            }
                        }
                        .info {
                            color: #000000;
                            font-size: 1.2rem;
                            font-weight: 400;
                            letter-spacing: 0.08rem;
                            line-height: 2.4rem;
                            border-left: 1px solid #b1b1b1;
                            border-right: 1px solid #b1b1b1;
                            white-space: nowrap;
                        }
                        .product-score {
                            display: flex;
                            white-space: nowrap;
                        }
                    }
                    .woocommerce-product-details__short-description {
                        color: #000000;
                        font-size: 1.5rem;
                        font-weight: 400;
                        letter-spacing: 0.1rem;
                        line-height: 2.4rem;
                        margin: 32px 0 42px 0;
                    }
                    .quantity {
                        margin-right: 0;
                        float: none;
                        input {
                            border: 0;
                            padding: 16px 8px;
                            width: 64px;
                            height: 64px;
                        }
                    }
                    .qty-container {
                        display: flex;
                        align-items: stretch;
                        border: 0.1rem solid #dedede;
                        background-color: #ffffff;
                        margin-right: 16px;
                        input,
                        button {
                            color: #000000;
                            font-family: $main-font;
                            font-size: 1.4rem;
                            font-weight: 400;
                            letter-spacing: 0.093rem;
                            line-height: 2.4rem;
                            text-align: center;
                            text-transform: uppercase;
                        }
                        button {
                            border: 0;
                            background: transparent;
                            cursor: pointer;
                            padding: 16px;
                            &:first-child {
                                padding-right: 8px;
                                padding-left: 24px;
                            }
                            &:last-child {
                                padding-left: 8px;
                                padding-right: 24px;
                            }
                        }
                    }
                    form.cart.form {
                        display: flex;
                        margin-bottom: 0;
                        button {
                            flex-grow: 1;
                        }
                    }
                    .woocommerce-variation-add-to-cart {
                        margin-top: 16px;
                    }
                    .featured_datas {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        margin-top: 45px;
                        .data {
                            text-align: center;
                            margin-bottom: 24px;
                            @media screen and (max-width:1475px) {
                                width: calc(33.33% - 16px);
                                &:nth-child(3n +2) {
                                    margin-left: 24px;
                                    margin-right: 24px;
                                }
                            }
                            @media screen and (min-width:1475px) {
                                width: calc(25% - 18px);
                                &:nth-child(4n + 1),
                                &:nth-child(4n + 2),
                                &:nth-child(4n + 3) {
                                    margin-right: 24px;
                                }
                            }
                        }
                        .img {
                            width: 100%;
                            height: 60px;
                            line-height: 60px;
                            text-align: center;
                            margin-bottom: 16px;
                        }
                        img,
                        svg {
                            display: inline-block;
                            max-width: 50px;
                            max-height: 50px;
                            vertical-align: middle;
                        }
                        svg {
                            path {
                                fill: $color-1;
                            }
                        }
                        .text {
                            opacity: 0.8;
                            color: #000000;
                            font-size: 1.2rem;
                            font-weight: 400;
                            line-height: 1.6rem;
                            text-align: center;
                        }
                    }
                }
                .woocommerce-tabs {
                    margin-top: 79px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px;
                    .container {
                        max-width: $main-container;
                        margin: 0 auto;
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                    }
                    .left,
                    .right {
                        width: 50%;
                    }
                    .left {
                        padding-right: 64px;
                        &:last-child {
                            width: 100%;
                            padding-right: 0;
                        }
                    }
                    .right {
                        padding-left: 64px;
                        position: sticky;
                        top: 0;
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    #tab-description {
                        h2 {
                            text-align: left;
                        }
                    }
                    .panel {
                        &:not(#tab-description) {
                            border-top: 1px solid #dedede;
                            padding-top: 32px;
                            &.close {
                                > * {
                                    display: none;
                                }
                                > .block-title {
                                    display: block;
                                    &:after {
                                        content: "+";
                                    }
                                }
                            }
                            .block-title {
                                padding-bottom: 0;
                                position: relative;
                                cursor: pointer;
                                &:after {
                                    display: inline-block;
                                    content: "-";
                                    font-weight: bold;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translate3d(0, -50%, 0);
                                    pointer-events: none;
                                    font-size: 2rem;
                                }
                                h2 {
                                    text-align: left;
                                    margin: 0 0 32px 0;
                                    color: #000000;
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    letter-spacing: 0.088rem;
                                    line-height: normal;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
                .reviews-container {
                    width: 100%;
                    padding: 0 20px;
                    .glsr-reviews {
                        margin-bottom: 70px;
                        margin-left: 50px;
                        .glsr-review {
                            margin: 0 0 20px 0;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            position: relative;
                            flex-wrap: nowrap;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .glsr-review-title,
                        .glsr-review-date {
                            display: none;
                        }
                        .glsr-review-rating,
                        .glsr-review-author {
                            width: 177px;
                        }
                        .glsr-review-author {
                            position: absolute;
                            left: 0;
                            top: 25px;
                            text-align: center;
                            display: block;
                            &:before {
                                display: none;
                            }
                        }
                        .glsr-review-content {
                            width: calc(100% - 177px);
                            padding-left: 32px;
                        }
                    }
                    #reviews {
                        width: 100%;
                        margin: 0 auto;
                        max-width: $main-container;
                        padding-top: 90px;
                    }
                    #comments {
                        display: flex;
                        align-items: flex-start;
                        > .left {
                            width: 40%;
                            h2 {
                                margin: 0 0 8px 0;
                                position: relative;
                                svg {
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-left: 29px;
                                }
                            }
                        }
                        > .commentlist {
                            width: 60%;
                            .comment-text {
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;
                                border: 0;
                                padding: 0;
                                margin-bottom: 70px;
                                .left {
                                    width: 177px;
                                }
                                .right {
                                    width: calc(100% - 177px);
                                    padding-left: 32px;
                                }
                                .star-rating {
                                    float: none;
                                    color: $color-1;
                                    margin-bottom: 8px;
                                }
                                .woocommerce-review__author {
                                    color: #000000;
                                    font-family: $secondary-font;
                                    font-size: 1.8rem;
                                    font-weight: 400;
                                    line-height: 2.4rem;
                                }
                                p.meta {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .woocommerce-verification-required {
                        font-size: 1.2rem;
                        font-style: italic;
                    }
                    #review_form {
                        max-width: 760px;
                        margin: 0 auto;
                        #reply-title {
                            display: block;
                        }
                    }
                }
                .page-item.products-slider {
                    width: 100%;
                    .container {
                        max-width: $main-container;
                    }
                }
            }
            // Produit variable + produit simple
            form.cart .woocommerce-variation-add-to-cart,
            .summary > form.cart {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                div.quantity {
                    float: none;
                }
            }
            .woocommerce-tabs {
                .tabs {
                    display: none;
                }
                .panel {
                    display: block !important;
                }
            }
            @media screen and (max-width:1250px) {
                .product {
                    .summary.entry-summary {
                        width: 100%;
                        padding: 32px 20px;
                    }
                    .woocommerce-product-gallery {
                        width: 100%;
                        padding-right: 264px;
                        .slide-custom-nav {
                            width: 264px;
                            right: 0;
                        }
                        .owl-container {
                            .woocommerce-product-gallery__image {
                                text-align: center;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:$bp-md) {
                .product {
                    .reviews-container {
                        .glsr-reviews {
                            margin-left: 0;
                            .glsr-review-rating {
                                width: 100px;
                            }
                            .glsr-review-content {
                                width: calc(100% - 100px);
                                padding-left: 16px;
                            }
                        }
                        #comments {
                            flex-wrap: wrap;
                            > .left {
                                width: 100%;
                                margin-bottom: 32px;
                                text-align: center;
                                h2 {
                                    svg {
                                        display: none;
                                    }
                                }
                            }
                            > .commentlist {
                                width: 100%;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:970px) {
                .product {
                    .woocommerce-tabs {
                        .right {
                            display: none;
                        }
                        .left {
                            width: 100%;
                            padding-right: 0;
                        }
                    }
                }
            }
            @media screen and (max-width:$bp-sm) {
                .btn.vertical {
                    display: none;
                }
                .product {
                    .summary.entry-summary {
                        padding-right: 20px;
                        form.cart.form {
                            flex-wrap: wrap;
                            flex-direction: column;
                            .qty-container {
                                margin-right: 0
                            }
                        }
                        .featured_datas {
                            .data {
                                width: calc(50% - 16px);
                                &:nth-child(2n) {
                                    margin-left: 32px;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .woocommerce-product-gallery {
                        padding-right: 0;
                        min-height: 500px;
                        > figure {
                            flex-wrap: wrap;
                            > .woocommerce-product-gallery__image {
                                height: calc(100vh - 176px - 16px);
                            }
                        }
                        .owl-container {
                            height: 176px;
                            width: 100%;
                            left: auto;
                            bottom: auto;
                            top: auto;
                            right: auto;
                            position: relative;
                            margin-top: 16px;
                            .owl-carousel {
                                transform: none;
                                width: 100%;
                            }
                            .woocommerce-product-gallery__image {
                                transform: none;
                                width: 176px;
                                height: 176px;
                            }
                            img {
                                width: 176px;
                                height: 176px;
                            }
                        }
                        .slide-custom-nav {
                            width: 100%;
                            height: 176px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 32px;
                            .custom-prev,
                            .custom-next {
                                transform: none;
                                position: static;
                            }
                        }
                    }
                }
                .datas {
                    flex-wrap: wrap;
                    justify-content: center;
                    .info {
                        border-right: 0;
                        padding-right: 0;
                    }
                    .product-score {
                        width: 100%;
                        margin-top: 16px;
                        padding-left: 0;
                        justify-content: center;
                    }
                }
            }
            @media screen and (max-width: 550px) {
                .product {
                    .reviews-container {
                        #comments {
                            > .commentlist {
                                .comment-text {
                                    flex-wrap: wrap;
                                    margin-bottom: 16px;
                                    margin-left: 0;
                                    .left {
                                        width: 100%;
                                        margin-bottom: 16px;
                                    }
                                    .right {
                                        padding-left: 0;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}