.page-item {
    &.woocommerce {
        &-account {
            padding: 4.8rem 2.4rem;
            .woocommerce-orders-table {
                .woocommerce-orders-table__cell-order-actions {
                    .btn {
                        &:not(:last-child) {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
            #add_payment_method {
                label {
                    > svg {
                        max-width: 40px;
                        display: inline-block;
                        vertical-align: middle;
                        &:not(:last-child) {
                            margin-right: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}