.page-item {
    &.woocommerce {
        &-form-login {
            padding: 40px 20px;
            border: 0;
            a {
                color: $color-text;
                font-weight: bold;
            }
            .container {
                max-width: $bp-sm;
            }
            form.form.login, form.form.register {
                border: 0;
            }
            #toggle-register-form {
                margin-bottom: 0;
                &.hidden {
                    display: none;
                }
            }
            form.form.register {
                &:not(.open) {
                    display: none;
                }
            }
            .u-column2 {
                margin-bottom: 64px;
            }
            form.form.login, form.form.register {
                margin: 0;
                padding: 0;
                .btn.link {
                    color: #000000;
                    font-size: 1.4rem;
                    font-weight: 400;
                    letter-spacing: 0.2rem;
                    line-height: 3.2rem;
                    text-align: center;
                    text-transform: uppercase;
                }
                h2 {
                    margin: 0 0 16px 0;
                }
                label {
                    display: none;
                }
                #password, #username, #reg_email, #reg_password {
                    width: 100%;
                    &:focus,
                    &:not(:placeholder-shown) {
                        padding-top: 24px;
                        padding-bottom: 8px;
                        &::placeholder {
                            color: transparent;
                        }
                        + .placeholder {
                            left: 16px;
                            opacity: 1;
                        }
                    }
                    &:placeholder-shown {
                        font-weight: bold;
                        font-style: italic;
                        &::placeholder {
                            color: #000;
                        }
                    }
                }
                p {
                    position: relative;
                }
                .woocommerce-privacy-policy-text {
                    margin-bottom: 16px;
                }
                .placeholder {
                    position: absolute;
                    text-align: left;
                    left: 32px;
                    top: 8px;
                    text-transform: none;
                    opacity: 0;
                    transition: all 0.3s ease;
                    color: #b1b1b1;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                }
            }
            #customer_login {
                > div {
                    &:nth-child(1) {
                        order: 2;
                    }
                    &:nth-child(2) {
                        order: 1;
                    }
                }
            }
        }
    }
}