&.filters {
	text-align: center;
	padding: 40px 20px 0 20px;
	font-size: 0;
	.btn {
		font-weight: 400;
		margin: 0 0 10px 0;
		padding: 9px 16px;
		&:not(.current) {
			color: $color-text;
			&:after {
				opacity: 0;
			}
		}
	}
}