&.paginate {
    color: $color-2;
    text-align: center;
    .paginate {
        padding: 30px 20px;
        font-size: 1.8rem;
        .current {
            color: $color-text;
        }
        a,
        span {
            font-weight: bold;
            margin: 0 7px;
            display: inline-block;
        }
        a {
            color: $color-1;
        }
        i {
            // Fix Fontawesome rotate center
            width: 22px;
            height: 22px;
            line-height: 2.2rem;
        }
    }
}