&.share {
    text-align: center;
    padding: 40px 20px 0 20px;
    .container {
        display: flex;
        align-items: center;
    }
    .line {
        display: block;
        width: 100%;
        height: 1px;
        background: $color-text;
        margin: 0 6px 0 8px;
    }
    .text {
        display: block;
        color: $color-text;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.02rem;
        line-height: 1.4rem;
        text-transform: uppercase;
    }
    .icons {
        display: flex;
    }
    a {
        display: inline-block;
        color: $color-text;
        padding: 9px;
        transition: all linear 0.3s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-decoration: none;
            color: $color-1;
        }
    }
}