.block-title {
    text-align: center;
    padding-bottom: 37px;
    width: 100%;
    h2 {
        margin: 0 0 8px 0;
    }
    .description {
        color: $color-text;
        letter-spacing: -0.1px;
    }
}