/*
* Animations par defaut disponibles
*/
html.js {
    .page-item {
        .animate {
            transition: all 0.5s ease 0.3s;
            &.fade {
                opacity: 0;
                &.animated {
                    opacity: 1;
                }
            }
            &.to-right {
                transform: translate3d(-50px, 0, 0);
                &.animated {
                    transform: translate3d(0, 0, 0);
                }
                &.to-top {
                    transform: translate3d(-50px, 50px, 0);
                    &.animated {
                        transform: translateY(0) translateX(0);
                    }
                }
            }
            &.to-left {
                transform: translate3d(50px, 0, 0);
                &.animated {
                    transform: translate3d(0, 0, 0);
                }
            }
            &.to-top {
                transform: translate3d(0, 50px, 0);
                &.animated {
                    transform: translate3d(0, 0, 0);
                }
            }
            &.to-bottom {
                transform: translate3d(0, -50px, 0);
                &.animated {
                    transform: translate3d(0, 0, 0);
                }
            }
            &.shrink {
                transform: scale3d(1.2, 1.2, 1);
                &.animated {
                    transform: scale3d(1, 1, 1);
                }
            }
            &.grow {
                transform: scale3d(0.8, 0.8, 1);
                &.animated {
                    transform: scale3d(1, 1, 1);
                }
            }
            &.delay {
                &-0-25s {
                    transition-delay: 0.25s;
                }
                &-0-5s {
                    transition-delay: 0.5s;
                }
                &-0-75s {
                    transition-delay: 0.75s;
                }
                &-1s {
                    transition-delay: 1s;
                }
                &-1-25s {
                    transition-delay: 1.25s;
                }
                &-1-5s {
                    transition-delay: 1.5s;
                }
                &-1-75s {
                    transition-delay: 1.75s;
                }
                &-2s {
                    transition-delay: 2s;
                }
                &-2-25s {
                    transition-delay: 2.25s;
                }
                &-2-5s {
                    transition-delay: 2.5s;
                }
                &-2-75s {
                    transition-delay: 2.75s;
                }
                &-3s {
                    transition-delay: 3s;
                }
                &-3-25s {
                    transition-delay: 3.25s;
                }
                &-3-5s {
                    transition-delay: 3.5s;
                }
                &-3-75s {
                    transition-delay: 3.75s;
                }
                &-4s {
                    transition-delay: 4s;
                }
                &-4-25s {
                    transition-delay: 4.25s;
                }
                &-4-5s {
                    transition-delay: 4.5s;
                }
                &-4-75s {
                    transition-delay: 4.75s;
                }
                &-5s {
                    transition-delay: 5s;
                }
            }
        }
    }
}