.style-uppercase {
    text-transform: uppercase;
}
.color-1 {
    color: $color-1;
}
.color-2 {
    color: $color-2;
}
.color-grey {
    color: #b1b1b1;
}
.text-color {
    color: $color-text
}
%full-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
%absolute-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    transform-origin: 50% 50%;
}
%absolute-centered-to-10 {
    transform: translate3d(-50%, -50%, 0) scale3d(1.1, 1.1, 1);
}
%absolute-centered-to-50 {
    transform: translate3d(-50%, -50%, 0) scale3d(1.5, 1.5, 1);
}
.product-stars {
    display: inline-block;
    margin-right: 8px;
    > span {
        mask: url(../images/svg/star-rating.svg);
        mask-size: 12px 12px;
        display: inline-block;
        width: 12px;
        height: 12px;
        position: relative;
        margin-right: 4px;
        &:after {
            content: "";
            display: block;
            z-index: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #b1b1b1;
        }
        &:last-child {
            margin-right: 0;
        }
        > span {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #000;
            display: block;
            z-index: 1;
        }
    }
    svg {
        display: inline-block;
        width: 12px;
        height: auto;
        path {
            fill: #000;
        }
    }
}
.product-score {
    display: flex;
    align-items: center;
    a {
        color: #b1b1b1;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.08rem;
        line-height: 2.4rem;
        text-decoration: underline;
    }
}
.price {
    del {
        .woocommerce-Price-amount {
            text-decoration: line-through;
        }
    }
    ins {
        .woocommerce-Price-amount {
            text-decoration: underline;
        }
    }
}
.woocommerce-Price-amount {
    position: relative;
    display: inline-block;
    padding-right: 8px;
    .woocommerce-Price-currencySymbol {
        color: #000000;
        font-size: 1.2rem;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 0;
        line-height: normal;
    }
}
.btn {
    text-decoration: none;
    display: inline-block;
    transition: all $eOutSine 0.2s;
    cursor: pointer;
    svg,
    img {
        display: inline-block;
        fill: $color-1;
        max-width: 20px;
        max-height: 20px;
        vertical-align: middle;
        margin: 0 1rem;
        transition: all 0.3s ease;
    }
    &.default {
        color: $color-text;
        font-size: 1.4rem;
        letter-spacing: 0.088rem;
        line-height: 2.4rem;
        padding: 2rem 3.2rem;
        border: 1px solid $color-1;
        text-transform: uppercase;
        position: relative;
        background: transparent;
        &:before {
            content: "";
            display: block;
            width: 200%;
            max-width: 101%;
            height: 200%;
            max-height: 101%;
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            background: $color-1;
            transition: all 0.6s ease;
        }
        &:hover,
        &.current {
            background: transparent;
            text-decoration: none;
            border-color: $color-text;
            svg {}
            &:before {
                opacity: 0.2;
            }
        }
        svg {
            fill: $color-text;
        }
    }
    &.small {
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-transform: uppercase;
        background: $color-1;
        padding: 0.3rem 0.7rem;
        border-radius: 4px;
        border: 1px solid $color-1;
        &:hover,
        &.current {
            background: transparent;
            color: $color-1;
            text-decoration: none;
            svg {
                fill: $color-1;
            }
        }
        svg {
            fill: #fff;
        }
    }
    &.link {
        color: #000000;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 3.2rem;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 100%;
            max-width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            bottom: -1px;
            z-index: 1;
            transition: all $eOutSine 0.3s;
        }
        svg {
            fill: $color-text;
        }
        &:hover {
            &:after {
                max-width: 50%;
            }
        }
    }
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 3.2rem;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    > * {
        pointer-events: auto;
    }
    iframe,
    object,
    embed {
        @extend %full-cover;
    }
}
.alert {
    display: block;
    width: 100%;
    padding: 2.4rem;
    background: #fff;
    border: 1px solid $color-1;
    &.error {
        font-weight: bold;
        color: $color-1;
    }
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .product {
        width: calc(100% / 3 - 200px/3);
        &:nth-child(3n+2) {
            margin-left: 100px;
            margin-right: 100px;
        }
        img {
            width: 100%;
            height: 420px;
            object-fit: cover;
            object-position: center;
            display: block;
        }
        .text {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 16px;
        }
        .title {
            font-size: 1.6rem;
            letter-spacing: 0.05rem;
            line-height: 2.4rem;
            margin: 0;
        }
        .price {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.4rem;
        }
        .description-short {
            color: #b1b1b1;
            font-size: 1.2rem;
            font-style: italic;
            line-height: 2.4rem;
            width: 100%;
            margin-top: 5px;
        }
    }
}
img,
figure {
    &.alignright {
        margin: 1rem 0 1rem 1rem;
        float: right;
    }
    &.alignleft {
        margin: 1rem 1rem 1rem 0;
        float: left;
    }
    &.aligncenter {
        margin: 1rem auto;
        display: block;
    }
}
figure {
    img {
        &.alignright,
        &.alignleft,
        &.aligncenter {
            margin: 0;
            float: none;
        }
    }
}
.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}
.ir {
    position: relative;
    > img,
    > a > img,
    > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
    > img,
    > a > img {
        object-fit: cover;
        object-position: center;
        backface-visibility: hidden;
        transition: all $eOutQuad 0.6s 0s;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 200%;
        height: 200%;
        max-height: 100%;
        max-width: 100%;
        transform: translate3d(-50%, -50%, 0);
    }
    &-hover {
        overflow: hidden;
        will-change: transform;
        &:hover {
            > img,
            > a > img {
                max-width: 105%;
                max-height: 105%;
            }
        }
    }
    &:after {
        content: "";
        display: block;
    }
    // ## Tailles paysages ##
    &-32-9 {
        &:after {
            padding-bottom: 28.125%;
        }
    }
    &-rectangle-large {
        // Ratio de la taille d'image "rectangle_large" de functions.php
        &:after {
            padding-bottom: 33.684%;
        }
    }
    &-21-9 {
        &:after {
            padding-bottom: 42.857%;
        }
    }
    &-16-9 {
        &:after {
            padding-bottom: 56.25%;
        }
    }
    &-16-10 {
        &:after {
            padding-bottom: 62.5%;
        }
    }
    &-3-2 {
        &:after {
            padding-bottom: 66.666%;
        }
    }
    &-rectangle {
        // Ratio de la taille d'image "rectangle" de functions.php
        &:after {
            padding-bottom: 72.5%;
        }
    }
    &-4-3 {
        &:after {
            padding-bottom: 75%;
        }
    }
    &-square {
        // Ratio de la taille d'image "square" de functions.php
        &:after {
            padding-bottom: 100%;
        }
    }
    // ## Tailles portraits ##
    &-9-16 {
        &:after {
            padding-bottom: 177.77%;
        }
    }
    &-3-2 {
        &:after {
            padding-bottom: 150%;
        }
    }
    &-3-4 {
        &:after {
            padding-bottom: 133.33%;
        }
    }
}