/* ###################################################################################
 * Lists
 * ################################################################################### */
.editorial {
	ul,
	ol {
		padding: 0;
		li {
			font-size: 1.5rem;
			line-height: 2.4rem;
		}
	}
	ul {
		list-style: none;
		li {
			position: relative;
			padding-left: 2.4rem;
			line-height: $line-height;
			margin-bottom: 2rem;
			color: #000000;
			letter-spacing: 0.1rem;
			&:last-of-type {
				margin-bottom: 0;
			}
			&:before {
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background: $color-text;
				position: absolute;
				left: 0;
				top: 9px;
			}
		}
	}
	ol {
		list-style: none;
		counter-reset: li;
		li {
			position: relative;
			padding-left: 1.4rem;
			line-height: $line-height;
			margin-bottom: 0.4rem;
			counter-increment: li;
			&:before {
				content: counter(li);
				color: $color-text;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
				margin-right: 1rem;
			}
		}
	}
}
/* ###################################################################################
 * Links
 * ################################################################################### */
a {
	text-decoration: none;
	color: $color-1;
	&:hover {
		text-decoration: none;
	}
	&.nolink {
		cursor: auto;
		pointer-events: none;
	}
}
p {
	a:not(.btn) {
		&:hover {
			text-decoration: underline;
		}
	}
}
/* ###################################################################################
 * Paragraph
 * ################################################################################### */
p {
	margin: 0 0 1.6rem 0;
	line-height: $line-height;
	color: $color-text;
	font-size: $font-size;
	letter-spacing: 0.1rem;
}
/* ###################################################################################
 * Others
 * ################################################################################### */
pre {
	max-width: 100%;
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	background: $color-1;
	padding: 1.6rem 2.4rem;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
strong {
	font-weight: bold;
}
/* ###################################################################################
 * Table
 * ################################################################################### */
table {
	max-width: 100%;
	width: 100%;
	th {
		text-align: left;
	}
}
/* ###################################################################################
 * Images
 * ################################################################################### */
img {
	max-width: 100%;
	height: auto;
}
/* ###################################################################################
 * Quotes
 * ################################################################################### */
blockquote {
	color: #000000;
	font-family: $secondary-font;
	font-size: 3.2rem;
	font-weight: 400;
	letter-spacing: 0.08rem;
	line-height: 3.7rem;
	text-align: center;
	display: block;
	width: 100%;
	padding: 4.2rem 0 2.4rem 0;
	position: relative;
	margin: 0 auto;
	svg {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		display: inline-block;
		width: 28px;
		height: 21px;
		z-index: 1;
		path {
			fill: #efe0d0;
		}
	}
}
/* ###################################################################################
 * Titles
 * ################################################################################### */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
}
h1,
.h1 {
	color: $color-text;
	font-size: 5.8rem;
	font-weight: 400;
	letter-spacing: 0.104rem;
	line-height: 5.7rem;
	margin: 0;
	font-family: $secondary-font;
}
h2,
.h2 {
	font-family: $secondary-font;
	color: $color-text;
	font-size: 3.2rem;
	font-weight: 400;
	letter-spacing: 0.08rem;
	line-height: 4rem;
	margin: 2.5rem 0;
}
h3,
.h3 {
	color: #000000;
	font-family: $secondary-font;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 3.2rem;
	margin: 2.5rem 0;
}
h4,
.h4 {
	color: $color-text;
	font-size: 1.4rem;
	line-height: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	margin: 1.6rem 0 0.8rem 0;
}
h5,
.h5 {
	color: $color-text;
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: -0.2px;
	line-height: 2.4rem;
	margin: 0.5rem 0 1.5rem 0;
}
h6,
.h6 {
	color: $color-text;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: -0.2px;
	line-height: 1.9rem;
	margin: 0.5rem 0 1.5rem 0;
}