#mailchimp-popin-target {
	width: 464px;
	max-width: 100%;
	margin: 0 auto;
	background: #fff;
	padding: 4rem 5rem;
	position: relative;
	.mfp-close {
		opacity: 1;
		&:hover {
			&:after {
				background-color: $color-1;
			}
		}
		&:after {
			width: 22px;
			height: 22px;
			background-color: $color-text;
			mask: url('../images/svg/x-circle.svg') no-repeat 50% 50%;
			-webkit-mask-image: url('../images/svg/x-circle.svg');
			-webkit-mask-position: 50% 50%;
			-webkit-mask-repeat: no-repeat;
			content: "";
			display: block;
			transition: all 0.3s ease;
		}
	}
	.block-title {
		text-align: center;
		margin-bottom: 3.2rem;
		.description {
			color: $color-text;
			letter-spacing: -0.01rem;
		}
	}
	label {
		color: #616161;
		font-size: $font-size;
		letter-spacing: -0.01rem;
		line-height: 2.4rem;
		font-weight: 400;
		text-transform: none;
	}
	.fields-container.submit {
		justify-content: center;
	}
	.acceptance {
		p {
			color: $color-text;
			font-size: 1.2rem;
			letter-spacing: -0.01rem;
			line-height: 1.8rem;
		}
	}
	.rgpd {
		margin-bottom: 3.2rem;
		label {
			margin-bottom: 0;
		}
	}
}
footer#colophon {
	background: #fff;
	border-top: 1px solid #dedede;
	.lvl1,
	.lvl2 {
		.container {
			width: 100%;
			max-width: $main-container;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	.lvl1 {
		padding: 0;
		border-top: 0.1rem solid #dedede;
		border-bottom: 0.1rem solid #dedede;
		.container {
			max-width: 100%;
			align-items: stretch;
		}
		.block-social {
			text-align: center;
			margin-right: 0;
			a {
				color: $color-1;
				&:hover {
					color: $color-text;
				}
			}
		}
	}
	.lvl2 {
		text-align: center;
		padding: 4rem 2.4rem;
		background: $color-1;
	}
	.block {
		margin: 0 2.4rem 0 0;
		width: 100%;
		max-width: calc(33.3333% - 1.6rem);
		&:last-child {
			margin-right: 0;
		}
		.title {
			margin-bottom: 1.6rem;
			color: #000000;
			font-family: $secondary-font;
			font-size: 1.8rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
			line-height: 2.4rem;
			text-align: left;
		}
		p {
			&:first-of-type {
				margin-top: 0;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.block-messages {
		width: 50%;
		max-width: 100%;
		margin-right: 0;
		.content {
			display: flex;
			height: 100%;
		}
		.content,
		.messages {
			width: 100%;
		}
		.messages {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-right: 0.1rem solid #dedede;
			padding: 40px 24px;
		}
		.message {
			text-align: center;
			&.type {
				&-1 {
					color: #000000;
					font-family: $secondary-font;
					font-size: 1.8rem;
					line-height: 2.4rem;
					margin-bottom: 8px;
				}
				&-2 {
					color: #000000;
					font-size: 1.5rem;
					letter-spacing: 0.1rem;
					line-height: 2.4rem;
					margin-bottom: 13px;
				}
				&-3 {
					color: #b1b1b1;
					font-size: 1.2rem;
					font-style: italic;
					letter-spacing: normal;
					line-height: 1.6rem;
				}
			}
		}
	}
	.block-logo {
		max-width: 280px;
		text-align: center;
		img {
			display: block;
			max-width: 208px;
			margin: 0 auto 2.4rem auto;
		}
		p,
		a {
			color: #b1b1b1;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.6rem;
		}
		ul {
			display: inline;
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				display: inline;
				a {
					&:before {
						content: "|";
						display: inline-block;
						margin-right: 6px;
					}
				}
			}
		}
		.content {
			div {
				display: inline;
			}
			> a {
				display: block;
			}
		}
	}
	.block-mailchimp {
		max-width: 100%;
		width: 50%;
		margin-right: 0;
		padding: 36px 48px;
		.title {
			color: #000000;
			font-family: $secondary-font;
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 2.4rem;
			text-align: center;
			text-transform: none;
			letter-spacing: normal;
			margin-bottom: 32px;
		}
		.mc-field-group {
			display: flex;
			flex-wrap: wrap;
			border-bottom: 2px solid #fff;
			position: relative;
			&.items-1 {
				.field {
					display: flex;
					align-items: stretch;
				}
			}
		}
		div.mce_inline_error {
			position: absolute;
			left: 0;
			bottom: -23px;
		}
		#mce-EMAIL {
			border: 0.1rem solid #dedede;
			background-color: #ffffff;
			padding: 1.6rem;
			margin: 0;
			width: 100%;
			color: #000000;
			font-size: 1.5rem;
			font-style: italic;
			letter-spacing: 0.1rem;
			line-height: 2.4rem;
			height: auto;
		}
		.mce_inline_error {
			color: $color-1;
			margin-top: 0.7rem;
			font-size: 1.2rem;
		}
		#mc-embedded-subscribe {
			cursor: pointer;
			color: #000000;
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 0.118rem;
			text-transform: uppercase;
			z-index: 1;
			padding: 20px 30px;
			border: 0.1rem solid #efe0d0;
			border-left: 0;
			white-space: nowrap;
			svg {
				display: none !important;
			}
		}
		.rgpd {
			font-family: $secondary-font;
			margin-top: 2.5rem;
			line-height: 1.5rem;
			margin-bottom: 0;
			input {
				display: inline-block;
				margin: 0 0.5rem 0 0;
				vertical-align: middle;
				&.mce_inline_error + p {
					color: $color-1;
				}
			}
			.render-radio-checkbox {
				background: rgba($color-text, 0.15);
				&:after {}
			}
			#rgpd:checked {
				& + .render-radio-checkbox {
					&:after {
						background: rgba($color-text, 0.5);
					}
				}
			}
			p {
				font-size: 1.2rem;
				display: inline;
				vertical-align: middle;
				line-height: normal;
			}
		}
	}
	.block-menu-1,
	.block-menu-2 {
		text-align: left;
		ul {
			display: block;
			margin: 0;
			padding: 0;
		}
		li {
			display: block;
			list-style: none;
		}
		a {
			color: #000000;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.6rem;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.block-menu-1 {
		max-width: 312px;
		ul {
			column-count: 2;
			column-gap: 16px;
		}
	}
	.block-menu-2 {
		max-width: 120px;
	}
	.block-contact {
		max-width: 176px;
		text-align: left;
		.content,
		a {
			color: #000000;
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.04rem;
			line-height: 1.6rem;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: block;
			&.mail {
				margin: 16px 0;
			}
		}
	}
	@media screen and (max-width: $bp-md) {
		.block-messages {
			width: 100%;
		}
		.block-mailchimp {
			margin: 0 auto !important;
			width: 450px;
			max-width: 100%;
		}
		.lvl2 {
			.block {
				margin-bottom: 24px;
			}
		}
		.block-logo {
			width: 100%;
			margin-right: 0;
			max-width: 100%;
		}
	}
	@media screen and (max-width: $bp-sm) {
		.block-logo,
		.block-social {
			margin-right: 0;
		}
		.lvl1,
		.lvl2 {
			padding: 2.4rem;
			.container {
				flex-wrap: wrap;
			}
		}
		.block-contact,
		.block-menu-1,
		.block-menu-2 {
			width: 100%;
			margin-right: 0;
			max-width: 100%;
			text-align: center;
			.title {
				text-align: center;
			}
			ul {
				column-count: 1;
			}
		}
	}
	@media screen and (max-width: 500px) {
		.block-text,
		.block-menu {
			margin-right: 0;
		}
		.block-mailchimp {
			padding: 0;
		}
		.block-messages {
			.content {
				flex-wrap: wrap;
			}
			.messages {
				width: 100%;
				border-right: 0;
			}
		}
		.block-text,
		.block-logo,
		.block-menu,
		.block-social {
			margin-bottom: 1.5rem;
		}
		.block {
			text-align: center;
			max-width: 100%;
		}
	}
}