.form {
	input {
		line-height: 1.2rem;
	}
	input:not([type=submit]),
	textarea,
	select,
	.select2-selection {
		border: 1px solid #e6e6e6;
		padding: 1.6rem;
		color: $color-text;
		font-size: $font-size;
		letter-spacing: -0.01rem;
		line-height: 2.4rem;
		font-family: $main-font;
		height: auto;
		transition: all 0.3s ease;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 2.6rem;
		width: 2.6rem;
		top: 1.8rem;
		padding: 0;
		line-height: 2.4rem;
		height: 2.4rem;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 2.4rem;
	}
	.select2 {
		height: 5.4rem;
		> .selection {
			padding: 0;
			height: 5.4rem;
			display: block;
		}
	}
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
	select {
		appearance: none;
		padding-right: 4.5rem;
	}
	textarea {
		height: 158px;
		font-family: inherit;
		font-size: inherit;
	}
	.fields-container {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1.6rem;
		&.items-1 {
			.field {
				width: 100%;
			}
		}
		&.items-2 {
			.field {
				width: calc(50% - 10px);
			}
		}
		&.items-3 {
			.field {
				width: calc(33.3333% - 10px);
			}
		}
		&.submit {
			margin-bottom: 0;
			justify-content: flex-start;
			.field {
				width: auto;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				.btn {
					cursor: pointer;
					order: 1;
					&[disabled] {
						opacity: 0.4;
						cursor: not-allowed;
					}
				}
				.ajax-loader {
					order: 2;
					margin: 0 0 0 2.4rem;
				}
			}
		}
		&.acceptance {
			label {
				color: $color-text;
				font-size: 1.2rem;
				letter-spacing: -0.01rem;
				line-height: 1.8rem;
				font-weight: 400;
				text-transform: none;
				padding-left: 3.2rem;
				position: relative;
				cursor: pointer;
			}
			.your-consent {
				position: absolute;
				left: 0;
				top: 0;
			}
			.your-consent,
			.wpcf7-list-item {
				margin-left: 0;
				height: 24px;
				width: 24px;
				display: inline-block;
			}
		}
	}
	.field {
		&.notice {
			margin-top: 2.4rem;
			p {
				margin: 0;
				font-size: 1.2rem;
			}
		}
		&.select {
			.wpcf7-form-control-wrap {
				display: inline-block;
				position: relative;
				width: 100%;
				&:after {
					content: "";
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 4px 0 4px;
					border-color: $color-text transparent transparent transparent;
					position: absolute;
					right: 20px;
					top: 50%;
					pointer-events: none;
					transform: translate3d(0, -50%, 0);
				}
			}
			.reset_variations {
				position: absolute;
				right: 0;
				bottom: 0;
				transform: translate3d(0, 100%, 0);
				color: $color-text;
			}
		}
		input[type=text],
		input[type=email],
		input[type=tel],
		textarea,
		select {
			width: 100%;
		}
		textarea {
			resize: none;
			font-family: inherit;
		}
	}
	label {
		display: block;
		margin-bottom: 0.8rem;
		color: $color-text;
		font-size: 1.2rem;
		font-weight: 700;
		letter-spacing: 0.02rem;
		line-height: 1.4rem;
		text-transform: uppercase;
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.wpcf7-checkbox,
	.wpcf7-acceptance,
	.wpcf7-radio {
		.wpcf7-list-item {
			position: relative;
			display: inline-block;
			padding-left: 3.2rem;
			line-height: 2.4rem;
			&.first {
				margin-left: 0;
			}
			input[type=radio],
			input[type=checkbox] {
				z-index: 0;
				cursor: pointer;
				opacity: 0;
			}
			input[type=radio],
			input[type=checkbox],
			.render-radio-checkbox {
				position: absolute;
				left: 0;
				top: 0;
				width: 24px;
				height: 24px;
				margin: 0;
				display: block;
			}
			.render-radio-checkbox {
				background-color: #e9e9ed;
				z-index: 1;
				pointer-events: none;
				transition: all 0.3s ease;
				&:after {
					content: "";
					position: absolute;
					z-index: 1;
					display: block;
					opacity: 0;
					transition: all 0.3s ease;
				}
			}
		}
	}
	.wpcf7-checkbox,
	.wpcf7-acceptance {
		.wpcf7-list-item {
			input[type=checkbox]:checked {
				& + .render-radio-checkbox {
					background: $color-1;
					&:after {
						opacity: 1;
					}
				}
			}
			.render-radio-checkbox {
				border-radius: 4px;
				&:after {
					width: 18px;
					height: 13px;
					background-color: #fff;
					mask: url('../images/svg/check.svg') no-repeat 50% 50%;
					-webkit-mask-image: url('../images/svg/check.svg');
					-webkit-mask-position: 50% 50%;
					-webkit-mask-repeat: no-repeat;
					left: 3px;
					top: 6px;
				}
			}
		}
	}
	.wpcf7-radio {
		.wpcf7-list-item {
			input[type=radio]:checked {
				& + .render-radio-checkbox {
					background: $color-1;
					&:after {
						opacity: 1;
					}
				}
			}
			.render-radio-checkbox {
				border-radius: 24px;
				&:after {
					width: 12px;
					height: 12px;
					background: #fff;
					border-radius: 12px;
					left: 6px;
					top: 6px;
				}
			}
		}
	}
	textarea + span.wpcf7-not-valid-tip {
		transform: translate3d(0, 100%, 0);
	}
	.wpcf7-form-control-wrap {
		display: inline-block;
		width: 100%;
	}
	.mc-field-group {
		position: relative;
	}
	span.wpcf7-not-valid-tip,
	div.mce_inline_error {
		float: none;
		font-size: 1.1rem;
		position: absolute;
		bottom: -5px;
		right: 0;
		transform: translate3d(0, 100%, 0);
	}
	div.wpcf7-validation-errors {
		border: 1px solid $color-2;
		color: $color-2;
		margin-left: 0;
		margin-right: 0;
	}
	@media screen and (max-width: $bp-sm) {
		.fields-container {
			&.items-2 {
				.field {
					width: 100%;
					margin-bottom: 2.4rem;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			&.items-3 {
				.field {
					width: 100%;
					margin-bottom: 2.4rem;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.search-form {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	label {
		margin-bottom: 0;
		margin-right: 1.5rem;
	}
}