/* ###################################################################################
 * Default
 * ################################################################################### */
* {
    box-sizing: border-box;
}
::selection {
    background: $color-1;
    color: #fff;
}
html.menu-open {
    overflow: hidden;
}
html {
    font-size: $root-font-size;
    @media screen and (max-width: $bp-fonts) {
        font-size: $root-font-size * $fonts-reduction;
    }
}
body {
    font-size: $font-size;
}
html, body,
#tinymce {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-weight: 400;
    color: $color-text;
}
.grecaptcha-badge {
    display: none !important;
}
main {
    display: block;
}
img[src$=".svg"] {
    max-width: 100%;
    display: inline-block;
}
.wp-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    img {
        display: block;
    }
    a {
        display: block;
        width: calc(50% - 1.6rem);
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
        &:nth-child(2n + 1) {
            margin-right: 3.2rem;
        }
        @media screen and (max-width: 550px) {
            width: calc(50% - 0.8rem);
            &:nth-child(2n + 1) {
                margin-right: 1.6rem;
            }
        }
    }
}
.atc-notification {
    position: absolute;
    top: 0;
    right: 56px;
    border: 0.1rem solid #dedede;
    background-color: #ffffff;
    padding: 16px;
    z-index: 5;
    width: 336px;
    max-width: 100%;
    &.close {
        display: none;
    }
    .close {
        display: inline-block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        cursor: pointer;
        top: 5px;
        mask: url('../images/svg/x-circle.svg') no-repeat center;
        background: #000;
        transition: all 0.3s ease;
    }
    &:after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 12px;
        position: absolute;
        right: 28px;
        pointer-events: none;
        top: -32px;
        mask: url('../images/svg/gut.svg') no-repeat center;
        background: #000;
        transition: all 0.3s ease;
    }
    > a {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }
    .head {
        color: #000000;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 17px;
        padding-right: 15px;
    }
    .products {}
    .product {
        display: flex;
        margin-bottom: 16px !important;
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .left {
        img {
            width: 72px;
            height: 108px;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
    .right {
        padding-left: 16px;
        width: calc(100% - 72px);
    }
    .title {
        color: #000000;
        font-family: $secondary-font;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .qty {
        color: #000000;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
        margin-bottom: 8px;
        span {
            color: #000000;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 0.086rem;
            line-height: 2.4rem;
            display: inline-block;
            margin-right: 7px;
        }
    }
    .price {
        color: #000000;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
    }
    @media screen and (max-width: 1250px) {
        &:after {
            display: none;
        }
    }
    @media screen and (max-width: $bp-sm) {
        right: auto;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}