body.menu-open {
    #header-container {
        background: #fff;
        box-shadow: 1px 1px 5px rgba(#000, 0.2);
    }
    #main-menu {
        ul.menu {
            > li {
                > a {
                    color: $color-text;
                }
                &.current-menu-item,
                &.current-menu-parent,
                &.current_page_parent,
                &.current_page_item,
                &:hover {
                    > a {
                        color: $color-text;
                    }
                }
            }
        }
    }
}
#header-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear 0.3s;
    z-index: 1000;
    height: $header-height;
    padding: 0 4.8rem;
    background: transparent;
}
header#masthead {
    transition: all linear 0.3s;
    height: $header-height;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
#site-logo {
    margin-right: 1.5rem;
    height: $header-height;
    line-height: $header-height;
    position: relative;
    z-index: 2;
    a {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        img {
            display: block;
            max-width: 170px;
        }
    }
    img {
        &.mobile {
            display: none;
        }
    }
}
#secondary-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    ul {
        padding: 0;
        margin: 0;
    }
    > ul {
        display: flex;
        align-items: flex-start;
        > li {
            margin-right: 2.4rem;
            &.contact {
                a {
                    font-style: italic;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &.langs {
                text-transform: uppercase;
                position: relative;
                cursor: pointer;
                padding-right: 22px;
                &:after {
                    content: "";
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    right: 0;
                    top: 2px;
                    mask: url('../images/svg/arrow-down-3.svg') no-repeat center;
                    background: #000;
                    ;
                }
                &:hover {
                    ul.langs {
                        opacity: 1;
                        pointer-events: auto;
                        bottom: 0;
                    }
                }
                a {
                    text-transform: uppercase;
                }
                li {
                    &.current-lang {
                        display: none;
                    }
                }
                ul.langs {
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    transform: translate3d(0, 100%, 0);
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3S ease;
                }
            }
            &.account {
                a {
                    display: inline-block;
                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.cart {
                margin-right: 0;
                a {
                    display: inline-block;
                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    li {
        list-style: none;
    }
    a {
        color: #000000;
        font-size: 1.4rem;
        font-weight: 400;
    }
    svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        path {
            fill: #000;
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}
#toggle-menu {
    display: none;
}
#main-menu {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        display: inline-block;
        position: relative;
    }
    a {
        display: inline-block;
        transition: color $eOutQuad 0.2s 0s;
        padding: 0;
    }
    ul.menu {
        padding: 0 1.5rem;
        display: flex;
        flex-wrap: nowrap;
        > li {
            height: $header-height;
            line-height: $header-height;
            margin: 0 2.4rem;
            position: relative;
            &.classic {
                position: static;
            }
            &.menu-item-has-children {
                &:after {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 12px;
                    position: absolute;
                    left: 50%;
                    pointer-events: none;
                    bottom: 0;
                    mask: url('../images/svg/gut.svg') no-repeat center;
                    background: #000;
                    transform: translate3d(-50%, 0, 0);
                    opacity: 0;
                    transition: all 0.3s ease;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                        bottom: 21px;
                    }
                }
            }
            &.classic_parent {
                > ul.sub-menu {
                    position: absolute;
                    left: 0;
                    top: auto;
                    bottom: -60px;
                    transform: translate3d(0, 100%, 0);
                    width: 238px;
                    padding: 14px 24px;
                    border: 0.1rem solid #dedede;
                    li {
                        margin: 0 0 16px 0;
                        width: 100%;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    a {
                        padding: 0;
                    }
                }
                &:hover {
                    > ul.sub-menu {
                        transform: translate3d(0, 100%, 0);
                        bottom: 0;
                    }
                }
            }
            > a {
                color: #000000;
                font-weight: 400;
                line-height: 2.4rem;
                line-height: normal;
                position: relative;
                letter-spacing: 0.1rem;
            }
            &:hover {
                > ul.sub-menu {
                    pointer-events: auto;
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
            &.current-menu-item,
            &.current-menu-parent,
            &.current_page_parent,
            &.current_page_item,
            &.current-page-ancestor {
                > a {
                    font-weight: bold;
                }
            }
            &:hover {
                > a {
                    text-decoration: underline;
                }
            }
        }
    }
    ul.sub-menu {
        position: absolute;
        line-height: normal;
        left: -48px;
        top: $header-height;
        z-index: 5;
        pointer-events: none;
        opacity: 0;
        width: calc(100% + 96px);
        background: #fff;
        text-align: left;
        transition: all 0.3s ease;
        padding: 3.2rem calc((100vw - 1040px) / 2);
        border-top: 0.1rem solid #dedede;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        transform: translate3d(0, 60px, 0);
        ul.sub-menu {
            display: none;
        }
        > li {
            width: auto;
            line-height: 3.2rem;
            margin-bottom: 3.2rem;
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
            &.list {
                max-width: 200px;
                width: 100%;
                > a {
                    color: #000000;
                    font-size: 1.4rem;
                    font-weight: 700;
                    letter-spacing: 0.1rem;
                    line-height: 2.4rem;
                    text-transform: uppercase;
                    padding: 0;
                    margin-bottom: 8px;
                    &:hover {
                        color: #000;
                        background: none;
                    }
                }
                .litem {
                    a {
                        color: #000000;
                        font-family: $secondary-font;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 2.4rem;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.block {
                width: 326px;
                max-width: 100%;
                text-align: center;
                position: relative;
                &:hover {
                    img {
                        max-width: 110%;
                        max-height: 110%;
                    }
                    .title {
                        text-decoration: underline;
                    }
                }
                a {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
                .image {
                    height: 184px;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                }
                img {
                    display: block;
                    width: 200%;
                    height: 200%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    max-width: 101%;
                    max-height: 101%;
                    transform: translate3d(-50%, -50%, 0);
                    object-fit: cover;
                    object-position: center;
                    transition: all 0.6s ease;
                }
                .title {
                    color: #000000;
                    font-size: 1.2rem;
                    font-weight: 500;
                    letter-spacing: 0.19rem;
                    line-height: 3.2rem;
                    text-transform: uppercase;
                    margin: 8px 0 0 0;
                }
                .description {
                    color: #000000;
                    font-family: $secondary-font;
                    font-size: 1.6rem;
                    font-weight: 400;
                    letter-spacing: 0.024rem;
                    line-height: 2.4rem;
                }
            }
            &.classic {
                width: auto;
                a {
                    color: #000000;
                    font-family: $secondary-font;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 2.4rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            > a {
                display: block;
                width: 100%;
                color: $color-text;
                font-size: 1.2rem;
                letter-spacing: -0.01rem;
                line-height: normal;
                padding: 0.8rem 0.6rem;
                border-left: 2px solid transparent;
                transition: all 0.3s ease;
            }
        }
    }
}
@media screen and (max-width: 1250px) {
    #header-container {
        height: $header-height-mobile;
        padding: 0;
    }
    header#masthead {
        flex-wrap: wrap;
        height: $header-height-mobile;
        justify-content: center;
        &.menu-open {
            #site-logo {
                img {
                    &:not(.mobile) {
                        display: none;
                    }
                    &.mobile {
                        display: block;
                    }
                }
            }
            #main-menu {
                display: block;
            }
            #secondary-menu {
                display: flex;
            }
            #toggle-menu {
                .content {
                    background-color: $color-text;
                    & {
                        background-color: transparent;
                    }
                    &:before,
                    &:after {
                        background-color: $color-text;
                    }
                    &:before {
                        transform: translate3d(0, 6px, 0) rotate3d(0, 0, 1, -45deg);
                    }
                    &:after {
                        transform: translate3d(0, -6px, 0) rotate3d(0, 0, 1, 45deg);
                    }
                }
            }
        }
        &:not(.menu-open) {
            #secondary-menu {
                padding-right: 0;
                position: absolute;
                right: 24px;
                top: 50%;
                transform: translate3d(0, -50%, 0);
                width: auto;
                .contact, .langs, .account {
                    display: none;
                }
            }
        }
    }
    #site-logo {
        height: $header-height-mobile;
        line-height: $header-height-mobile;
    }
    #toggle-menu {
        width: 24px;
        height: 14px;
        cursor: pointer;
        display: block;
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        z-index: 2;
        .content {
            backface-visibility: hidden;
            background-color: #000;
            height: 2px;
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -1px;
            left: 0;
            transition: background-color $eOutQuad 0.3s 0s;
            &:before,
            &:after {
                backface-visibility: hidden;
                background: #000;
                height: 2px;
                position: absolute;
                transition: transform $eOutQuad 0.3s 0s;
                width: 100%;
                content: "";
                display: block;
            }
            &:before {
                margin-top: -6px;
            }
            &:after {
                margin-top: 6px;
            }
        }
    }
    #secondary-menu {
        .cart {
            .text {
                display: none;
            }
        }
    }
    #main-menu {
        display: none;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        background: #fff;
        height: calc(100% - #{$header-height-mobile});
        margin-top: $header-height-mobile;
        overflow: auto;
        a {
            display: block;
            width: 100%;
            &.nolink {
                pointer-events: auto;
                cursor: pointer;
            }
        }
        ul.menu {
            flex-wrap: wrap;
            padding: 0;
            > li {
                width: 100%;
                height: auto;
                line-height: normal;
                margin: 0;
                border-top: 0.1rem solid #efe0d0;
                &:last-child {
                    border-bottom: 0.1rem solid #efe0d0;
                }
                &.menu-item-has-children {
                    &:after {
                        display: none;
                    }
                }
                > a {
                    line-height: normal;
                    height: auto;
                    padding: 12px 18px;
                    color: $color-text;
                    &:after {
                        display: none;
                    }
                }
                &.classic_parent {
                    > ul.sub-menu {
                        position: relative;
                    }
                }
                &.open {
                    > a {
                        background-color: #efe0d0;
                        color: #000000;
                        font-size: 1.4rem;
                        font-weight: 700;
                        letter-spacing: 0.04rem;
                        line-height: 1.6rem;
                        text-transform: uppercase;
                        &:before {
                            content: "";
                            display: inline-block;
                            mask: url('../images/svg/arrow-left-4.svg');
                            background: #000;
                            width: 24px;
                            height: 24px;
                            vertical-align: middle;
                            margin-right: 43px;
                        }
                    }
                }
                &:not(.open) {
                    ul.sub-menu {
                        display: none;
                    }
                }
                &.close {
                    display: none;
                }
                &.classic_parent {
                    > ul.sub-menu {
                        width: 100%;
                    }
                }
            }
        }
        ul.sub-menu {
            position: relative;
            transform: none !important;
            opacity: 1;
            pointer-events: auto;
            padding: 0;
            width: 100%;
            text-align: left;
            left: 0;
            bottom: auto !important;
            top: auto;
            right: auto;
            &:after {
                left: 40px;
                transform: none;
            }
            > li {
                width: 100%;
                border-bottom: 0;
                padding-bottom: 8px;
                margin-bottom: 0;
                > a {
                    font-size: 1.6rem;
                }
                &.block {
                    width: 100%;
                    .title, .description {
                        padding: 0 18px;
                    }
                }
                &.list {
                    width: 100%;
                    margin-right: 0;
                    max-width: 100%;
                    > a {
                        &:after {
                            content: "";
                            display: inline-block;
                            mask: url('../images/svg/arrow-down-3.svg');
                            background: #000;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            right: 19px;
                            top: 10.5px;
                            transform: scale(0.75);
                            pointer-events: none;
                        }
                    }
                    &:not(.close) {
                        > a {
                            &:after {
                                transform: scale(0.75) rotate(90deg);
                            }
                        }
                    }
                    &.close {
                        padding-bottom: 0;
                        > a {
                            margin-bottom: 0;
                        }
                        .list {
                            display: none;
                        }
                    }
                    .list {
                        padding: 0 18px;
                    }
                    > a {
                        color: #000000;
                        font-size: 1.4rem;
                        font-weight: 400;
                        letter-spacing: 0.1rem;
                        line-height: 2.4rem;
                        text-align: left;
                        text-transform: uppercase;
                        background-color: rgba(239, 224, 208, 0.26);
                        padding: 12px 18px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1250px) {
    body.menu-open {
        overflow: hidden;
        #wpadminbar {
            display: none;
        }
        #header-container {
            height: 100%;
            overflow: auto;
            padding: 0;
        }
        #header#masthead {
            height: 100%;
        }
    }
}
@media screen and (max-width: 650px) {
    body.menu-open {
        header#masthead {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    #site-logo {
        margin-right: 0;
    }
    #secondary-menu {
        width: 100%;
        height: 80px;
        text-align: center;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }
    #main-menu {
        margin-top: 160px;
        height: calc(100% - 160px);
    }
}