/* ###################################################################################
 * Fonts
 * ################################################################################### */
$main-font: "Roboto";
$secondary-font: "Belleza";
$fa-font: 'FontAwesome';
$fonts-reduction: 0.9;
$root-font-size: 10px;
/* ###################################################################################
 * Blocks sizes
 * ################################################################################### */
$main-container: 1216px;
$main-container-2: 1000px;
$header-height: 118px;
$header-height-mobile: 80px;
/* ###################################################################################
 * Text
 * ################################################################################### */
$font-size: 1.5rem;
$line-height: 2.4rem;
/* ###################################################################################
 * Colors
 * ################################################################################### */
$color-1: #efe0d0;
$color-2: #061b37;
$color-text: #000;
/* ###################################################################################
 * Breakpoints
 * +1px pour chaque valeur
 * ################################################################################### */
$bp-mc: $main-container + 48px;
$bp-xl: 1367px;
$bp-lg: 1281px;
$bp-md: 1025px;
$bp-sm: 769px;
$bp-xs: 376px;
$bp-fonts: $bp-sm;
/* ###################################################################################
 * Easing functions : http://easings.net/fr
 * ################################################################################### */
$eInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$eOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$eInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$eInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$eOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$eInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$eInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$eOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$eInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$eInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$eOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$eInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$eInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$eOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$eInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$eInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$eOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$eInOutExpo: cubic-bezier(1, 0, 0, 1);
$eInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$eOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$eInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$eInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$eOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$eInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);