@import 'vars';
@import 'editorial';
@import 'classes';
@import "builder/_main";
.page-item {
	@import 'general';
}
html {
	font-size: $root-font-size;
	@media screen and (max-width: $bp-fonts) {
		font-size: $root-font-size * $fonts-reduction;
	}
}
/* Enlarge blocks */
.wp-block {
	max-width: 90%;
	margin-top: 50px;
	/* Caption above the block */
	&::before {
		content: attr(aria-label);
		position: absolute;
		bottom: 100% !important;
		top: auto !important;
		right: auto !important;
		left: 50% !important;
		transform: translate3d(-50%, 0, 0);
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		background-color: #f7f7f7;
		padding: 5px 10px;
		border-radius: 5px 5px 0 0;
		font-weight: bold;
	}
}